{
    "dns": {
        "final": "dns_proxy",
        "independent_cache": true,
        "rules": [
            {
                "outbound": "any",
                "server": "dns_resolver"
            },
            {
                "clash_mode": "direct",
                "server": "dns_direct"
            },
            {
                "clash_mode": "global",
                "server": "dns_proxy"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "server": "dns_direct"
            },
            {
                "rule_set": "geosite-geolocation-!cn",
                "server": "dns_proxy"
            },
            {
                "rule_set": "Global",
                "server": "dns_proxy"
            },
            {
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ],
                "server": "dns_proxy"
            }
        ],
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "select",
                "strategy": "ipv4_only",
                "tag": "dns_proxy"
            },
            {
                "address": "h3://dns.alidns.com/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_direct"
            },
            {
                "address": "rcode://refused",
                "tag": "dns_block"
            },
            {
                "address": "223.5.5.5",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_resolver"
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        },
        "clash_api": {
            "default_mode": "rule",
            "external_controller": "0.0.0.0:9090",
            "external_ui": "metacubexd",
            "external_ui_download_detour": "select",
            "external_ui_download_url": "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip",
            "secret": "password"
        }
    },
    "inbounds": [
        {
            "auto_route": true,
            "inet4_address": "172.19.0.1/30",
            "inet6_address": "fdfe:dcba:9876::1/126",
            "sniff": true,
            "stack": "mixed",
            "type": "tun"
        },
        {
            "listen": "::",
            "listen_port": 5353,
            "tag": "socks-in",
            "type": "socks"
        },
        {
            "listen": "0.0.0.0",
            "listen_port": 2080,
            "tag": "mixed-in",
            "type": "mixed"
        }
    ],
    "log": {
        "disabled": false,
        "level": "info",
        "timestamp": true
    },
    "ntp": {
        "detour": "direct",
        "enabled": true,
        "interval": "30m0s",
        "server": "time.apple.com",
        "server_port": 123
    },
    "outbounds": [
        {
            "tag": "select",
            "type": "selector",
            "default": "urltest",
            "outbounds": [
                "urltest",
                "US_youtube@资源分享师_177🇺🇸",
                "US_youtube@资源分享师_203🇺🇸",
                "🇨🇦 _CA_加拿大",
                "🇷🇺 _RU_俄罗斯联邦",
                "🇸🇬 _US_美国-\u003e🇸🇬_SG_新加坡",
                "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_1",
                "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_2",
                "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_1",
                "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_2",
                "🇺🇸 _US_美国_2",
                "🇺🇸 _US_美国_3",
                "🇺🇸 _US_美国_4",
                "🇺🇸 _US_美国_6",
                "🇺🇸 _US_美国_8",
                "🇺🇸 _US_美国_9",
                "AF_04🇸🇪",
                "AR_05🇦🇷",
                "BA_06🇧🇦",
                "CL_07🇨🇱",
                "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore🇱🇹",
                "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore 2🇱🇹",
                "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20New%20PREMIUM%20%20@V2rayStore🇷🇺",
                "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20PREMIUM%20%20@V2rayStore🇷🇺",
                "%F0%9F%87%B9%F0%9F%87%B7%20T%C3%BCrkiye%20Vmess%20WS%20@V2rayStore🇺🇸",
                "AE-40.120.103.192-0761🇦🇪",
                "AL-31.171.153.181-0748🇦🇱",
                "AT-185.180.12.81-0718🇦🇹",
                "None_None_trojan_1169🇺🇸",
                "None_None_trojan_1318🌍",
                "None_None_trojan_132🌍",
                "🇺🇸 美国1",
                "🇺🇸 美国10",
                "🇺🇸 美国11",
                "🇧🇩 [SS] 孟加拉 V2CROSS.COM",
                "🇨🇦 [Trojan] 🇨🇦 加拿大 003",
                "BG-5.101.219.5-228_1@227🇧🇬",
                "FASTLY-151.101.64.144-168_1@168🇺🇸",
                "Armenia 1🇦🇲",
                "AE-109.169.72.249-4907🇦🇪",
                "AE-109.169.72.249-4996🇦🇪",
                "AE-109.169.72.249-5287🇦🇪",
                "AE-109.169.72.249-5348🇦🇪",
                "AE-109.169.72.249-5433🇦🇪",
                "AE-109.169.72.249-7956🇦🇪",
                "[free-ss.site]www.kernels.bid🌍",
                "[free-ss.site]www.kernels.bid 2🇺🇸",
                "11|欧盟 v2rayfree.eu.org🇳🇱",
                "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧"
            ]
        },
        {
            "server": "fcdn.flha.ru",
            "server_port": 2095,
            "tag": "US_youtube@资源分享师_177🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "fcdn.flha.ru"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "7a737f41-b792-4260-94ff-3d864da67b80"
        },
        {
            "server": "ccc.sgjc.xyz",
            "server_port": 8880,
            "tag": "US_youtube@资源分享师_203🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "ccc.sgjc.xyz"
                    ]
                },
                "path": "/?ed=2048",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "751c0def-74f2-4c8b-ade9-209c9bbf38bf"
        },
        {
            "server": "158.51.121.36",
            "server_port": 443,
            "tag": "🇨🇦 _CA_加拿大",
            "tls": {
                "enabled": true,
                "server_name": "158.51.121.36",
                "insecure": true
            },
            "transport": {
                "path": "/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "45.136.245.240",
            "server_port": 12910,
            "tag": "🇷🇺 _RU_俄罗斯联邦",
            "tls": {
                "enabled": true,
                "server_name": "45.136.245.240",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "8259cb1c-dd6c-4739-9c88-af550d977525"
        },
        {
            "server": "cfcdn2.sanfencdn9.com",
            "server_port": 2052,
            "tag": "🇸🇬 _US_美国-\u003e🇸🇬_SG_新加坡",
            "transport": {
                "headers": {
                    "Host": [
                        "cfcdn2.sanfencdn9.com"
                    ]
                },
                "path": "/video/3YKfzGw4",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1564cf5b-48c2-46f9-a59c-0234e936f237"
        },
        {
            "server": "104.21.8.157",
            "server_port": 2082,
            "tag": "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_1",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "112ac36f-3f53-4e26-8371-d25c028e1b9a"
        },
        {
            "server": "172.67.130.140",
            "server_port": 2082,
            "tag": "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_2",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "112ac36f-3f53-4e26-8371-d25c028e1b9a"
        },
        {
            "server": "hk.wish.ml",
            "server_port": 2052,
            "tag": "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_1",
            "transport": {
                "headers": {
                    "Host": [
                        "hk.wish.ml"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "c286daa2-59de-455c-8de8-ec032b6ce2e8"
        },
        {
            "server": "172.67.164.78",
            "server_port": 2052,
            "tag": "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_2",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "c286daa2-59de-455c-8de8-ec032b6ce2e8"
        },
        {
            "server": "172.67.171.49",
            "server_port": 80,
            "tag": "🇺🇸 _US_美国_2",
            "transport": {
                "path": "/vmess",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "e7854e51-e39e-42b0-ad7e-bdd606592236"
        },
        {
            "server": "172.67.204.84",
            "server_port": 80,
            "tag": "🇺🇸 _US_美国_3",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "753d0d83-3f5b-4821-860e-082f0b3db609"
        },
        {
            "server": "cfcdn1.sanfencdn9.com",
            "server_port": 2095,
            "tag": "🇺🇸 _US_美国_4",
            "transport": {
                "headers": {
                    "Host": [
                        "cfcdn1.sanfencdn9.com"
                    ]
                },
                "path": "/video/qYZue4zaWS",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1564cf5b-48c2-46f9-a59c-0234e936f237"
        },
        {
            "server": "23.154.136.2",
            "server_port": 443,
            "tag": "🇺🇸 _US_美国_6",
            "tls": {
                "enabled": true,
                "server_name": "23.154.136.2",
                "insecure": true
            },
            "transport": {
                "path": "/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "russia.com",
            "server_port": 8880,
            "tag": "🇺🇸 _US_美国_8",
            "transport": {
                "headers": {
                    "Host": [
                        "russia.com"
                    ]
                },
                "path": "/api/v3/download.getFile",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "64a57b5f-45e0-40c3-8316-97d0ff53fd96"
        },
        {
            "server": "cfcdn1.sanfencdn9.com",
            "server_port": 2052,
            "tag": "🇺🇸 _US_美国_9",
            "transport": {
                "headers": {
                    "Host": [
                        "cfcdn1.sanfencdn9.com"
                    ]
                },
                "path": "/video/GQ2qE5Us9g",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1564cf5b-48c2-46f9-a59c-0234e936f237"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "121.127.46.147",
            "server_port": 989,
            "tag": "AF_04🇸🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.103.176.29",
            "server_port": 989,
            "tag": "AR_05🇦🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.164.35.9",
            "server_port": 989,
            "tag": "BA_06🇧🇦",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.120.230.9",
            "server_port": 989,
            "tag": "CL_07🇨🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "94.131.13.110",
            "server_port": 80,
            "tag": "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore🇱🇹",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d3e40d59-b53c-4f4e-8867-bb598be864d2"
        },
        {
            "server": "94.131.14.177",
            "server_port": 80,
            "tag": "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore 2🇱🇹",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "2c5fee13-f08b-4ba8-86db-27dd51cb9781"
        },
        {
            "server": "45.14.244.133",
            "server_port": 443,
            "tag": "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20New%20PREMIUM%20%20@V2rayStore🇷🇺",
            "tls": {
                "enabled": true,
                "server_name": "45.14.244.133"
            },
            "transport": {
                "type": "grpc",
                "service_name": "/"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "a0ea5ce7-b1b0-4ca4-8607-dac55d05ca73"
        },
        {
            "server": "45.14.244.133",
            "server_port": 2024,
            "tag": "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20PREMIUM%20%20@V2rayStore🇷🇺",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "39d755be-0123-418b-9638-a383957a28d2"
        },
        {
            "server": "tr-full.privateip.net",
            "server_port": 443,
            "tag": "%F0%9F%87%B9%F0%9F%87%B7%20T%C3%BCrkiye%20Vmess%20WS%20@V2rayStore🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "tr-full.privateip.net"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "tr-full.privateip.net"
                    ]
                },
                "path": "/RACEVPN",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "64fd7689-4024-4d4b-b255-4270532b4036"
        },
        {
            "password": "u17T3BvpYaaiuW2c",
            "server": "series-a2-mec.samanehha.co",
            "server_port": 443,
            "tag": "AE-40.120.103.192-0761🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "31.171.153.181",
            "server_port": 989,
            "tag": "AL-31.171.153.181-0748🇦🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.180.12.81",
            "server_port": 989,
            "tag": "AT-185.180.12.81-0718🇦🇹",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "g76wex",
            "server": "aws-kr-seoul-1.f1cflinec.com",
            "server_port": 443,
            "tag": "None_None_trojan_1169🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "aws-kr-seoul-1.f1cflinec.com"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "aws-kr-seoul-1.f1cflinec.com"
                    ]
                },
                "path": "/f1rocket",
                "type": "ws"
            },
            "type": "trojan"
        },
        {
            "password": "8557692d-c228-48f0-b6f9-50d44d4a2096",
            "server": "104.19.53.74",
            "server_port": 2053,
            "tag": "None_None_trojan_1318🌍",
            "tls": {
                "enabled": true,
                "server_name": "tjjd.yzyx1.v6.army"
            },
            "type": "trojan"
        },
        {
            "password": "8557692d-c228-48f0-b6f9-50d44d4a2096",
            "server": "104.19.52.97",
            "server_port": 443,
            "tag": "None_None_trojan_132🌍",
            "tls": {
                "enabled": true,
                "server_name": "tjjd.yzyx1.v6.army"
            },
            "type": "trojan"
        },
        {
            "password": "7d223bae-e183-4bf6-89c3-e327b15df490",
            "server": "183.236.51.2",
            "server_port": 10819,
            "tag": "🇺🇸 美国1",
            "tls": {
                "enabled": true,
                "server_name": "183.236.51.2",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "7d223bae-e183-4bf6-89c3-e327b15df490",
            "server": "183.236.51.9",
            "server_port": 10824,
            "tag": "🇺🇸 美国10",
            "tls": {
                "enabled": true,
                "server_name": "183.236.51.9",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "7d223bae-e183-4bf6-89c3-e327b15df490",
            "server": "183.236.51.9",
            "server_port": 10825,
            "tag": "🇺🇸 美国11",
            "tls": {
                "enabled": true,
                "server_name": "183.236.51.9",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "oxp4Xr64OKpXV127Zwtzl14P8L8PovqbFGPHbnbhRf7CxCSW1E",
            "server": "103.106.2.90",
            "server_port": 8881,
            "tag": "🇧🇩 [SS] 孟加拉 V2CROSS.COM",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305"
        },
        {
            "password": "8557692d-c228-48f0-b6f9-50d44d4a2096",
            "server": "104.19.53.231",
            "server_port": 443,
            "tag": "🇨🇦 [Trojan] 🇨🇦 加拿大 003",
            "tls": {
                "enabled": true,
                "server_name": "tjjd.yzyx1.v6.army",
                "insecure": true
            },
            "transport": {
                "headers": {
                    "Host": [
                        "tjjd.yzyx1.v6.army"
                    ]
                },
                "path": "/?ed=2048",
                "type": "ws"
            },
            "type": "trojan"
        },
        {
            "server": "5.101.219.5",
            "server_port": 80,
            "tag": "BG-5.101.219.5-228_1@227🇧🇬",
            "transport": {
                "headers": {
                    "Host": [
                        "tasnim.servecounterstrike.com"
                    ]
                },
                "path": "/@forwardv2ray",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "a9c33d66-e66f-4a53-9ef0-3f6c52c8d091"
        },
        {
            "server": "gov.uk",
            "server_port": 443,
            "tag": "FASTLY-151.101.64.144-168_1@168🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "gov.uk",
                "insecure": true
            },
            "transport": {
                "headers": {
                    "Host": [
                        "zheshiscp.com"
                    ]
                },
                "path": "/77848824",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "77848824-93b7-4b89-ffd0-e91afff406ce"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "146.185.248.22",
            "server_port": 989,
            "tag": "Armenia 1🇦🇲",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 809,
            "tag": "AE-109.169.72.249-4907🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 806,
            "tag": "AE-109.169.72.249-4996🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 810,
            "tag": "AE-109.169.72.249-5287🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 802,
            "tag": "AE-109.169.72.249-5348🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 801,
            "tag": "AE-109.169.72.249-5433🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "109.169.72.249",
            "server_port": 805,
            "tag": "AE-109.169.72.249-7956🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "www.kernels.bid",
            "server_port": 443,
            "tag": "[free-ss.site]www.kernels.bid🌍",
            "tls": {
                "enabled": true,
                "server_name": "www.kernels.bid"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "/ws"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "6c7c5e3a-73ad-467a-1241-206987daa04f"
        },
        {
            "server": "www.kernels.bid",
            "server_port": 80,
            "tag": "[free-ss.site]www.kernels.bid 2🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "/ws"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "25ec39f7-7cdd-4c3c-bc3c-60e9a8927b4a"
        },
        {
            "server": "45.67.231.37",
            "server_port": 38345,
            "tag": "11|欧盟 v2rayfree.eu.org🇳🇱",
            "type": "vmess",
            "security": "auto",
            "uuid": "f3a596c4-0cb2-4012-d94b-a8ba3ae20636"
        },
        {
            "server": "146.59.17.58",
            "server_port": 12960,
            "tag": "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧",
            "type": "vmess",
            "security": "auto",
            "uuid": "48a86563-63c5-4218-e887-d752f801ae82"
        },
        {
            "tag": "urltest",
            "type": "urltest",
            "outbounds": [
                "US_youtube@资源分享师_177🇺🇸",
                "US_youtube@资源分享师_203🇺🇸",
                "🇨🇦 _CA_加拿大",
                "🇷🇺 _RU_俄罗斯联邦",
                "🇸🇬 _US_美国-\u003e🇸🇬_SG_新加坡",
                "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_1",
                "🇺🇸 _US_美国-\u003e🇫🇷_FR_法国_2",
                "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_1",
                "🇺🇸 _US_美国-\u003e🇮🇳_IN_印度_2",
                "🇺🇸 _US_美国_2",
                "🇺🇸 _US_美国_3",
                "🇺🇸 _US_美国_4",
                "🇺🇸 _US_美国_6",
                "🇺🇸 _US_美国_8",
                "🇺🇸 _US_美国_9",
                "AF_04🇸🇪",
                "AR_05🇦🇷",
                "BA_06🇧🇦",
                "CL_07🇨🇱",
                "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore🇱🇹",
                "%F0%9F%87%B1%F0%9F%87%B9%20Lithuania%20Vmess%20@V2rayStore 2🇱🇹",
                "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20New%20PREMIUM%20%20@V2rayStore🇷🇺",
                "%F0%9F%87%B3%F0%9F%87%B1%20Premium%20PREMIUM%20%20@V2rayStore🇷🇺",
                "%F0%9F%87%B9%F0%9F%87%B7%20T%C3%BCrkiye%20Vmess%20WS%20@V2rayStore🇺🇸",
                "AE-40.120.103.192-0761🇦🇪",
                "AL-31.171.153.181-0748🇦🇱",
                "AT-185.180.12.81-0718🇦🇹",
                "None_None_trojan_1169🇺🇸",
                "None_None_trojan_1318🌍",
                "None_None_trojan_132🌍",
                "🇺🇸 美国1",
                "🇺🇸 美国10",
                "🇺🇸 美国11",
                "🇧🇩 [SS] 孟加拉 V2CROSS.COM",
                "🇨🇦 [Trojan] 🇨🇦 加拿大 003",
                "BG-5.101.219.5-228_1@227🇧🇬",
                "FASTLY-151.101.64.144-168_1@168🇺🇸",
                "Armenia 1🇦🇲",
                "AE-109.169.72.249-4907🇦🇪",
                "AE-109.169.72.249-4996🇦🇪",
                "AE-109.169.72.249-5287🇦🇪",
                "AE-109.169.72.249-5348🇦🇪",
                "AE-109.169.72.249-5433🇦🇪",
                "AE-109.169.72.249-7956🇦🇪",
                "[free-ss.site]www.kernels.bid🌍",
                "[free-ss.site]www.kernels.bid 2🇺🇸",
                "11|欧盟 v2rayfree.eu.org🇳🇱",
                "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧"
            ]
        },
        {
            "tag": "direct",
            "type": "direct"
        },
        {
            "tag": "block",
            "type": "block"
        },
        {
            "tag": "dns-out",
            "type": "dns"
        }
    ],
    "route": {
        "auto_detect_interface": false,
        "final": "select",
        "rule_set": [
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-geolocation-!cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-google",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-google.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-apple",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-apple.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-telegram.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-twitter",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-twitter.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-netflix.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblock",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblock.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblockplus",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblockplus.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adguard",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adguard.srs"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Global",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Global.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "YouTube",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/YouTube.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "OpenAI",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/OpenAI.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "TikTok",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/TikTok.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Telegram.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Netflix.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "WeChat",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/WeChat.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Bilibili",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Bilibili.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "GFW",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/gfw.json"
            }
        ],
        "rules": [
            {
                "outbound": "dns-out",
                "protocol": "dns"
            },
            {
                "clash_mode": "direct",
                "outbound": "direct"
            },
            {
                "clash_mode": "global",
                "outbound": "select"
            },
            {
                "outbound": "direct",
                "rule_set": "geoip-cn"
            },
            {
                "outbound": "🍎 苹果",
                "rule_set": "geoip-apple"
            },
            {
                "domain_suffix": [
                    "copilot.microsoft.com",
                    "gemini.google.com",
                    "claude.ai",
                    "chatgpt.com",
                    "bing.com",
                    "oaistatic.com",
                    "oaiusercontent.com"
                ],
                "outbound": "🤖 AI",
                "rule_set": "OpenAI"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "outbound": "direct"
            },
            {
                "outbound": "block",
                "protocol": "quic"
            },
            {
                "inbound": "socks-in",
                "outbound": "select"
            },
            {
                "outbound": "block",
                "rule_set": [
                    "geosite-adblock",
                    "geosite-adblockplus",
                    "geosite-adguard"
                ]
            },
            {
                "outbound": "direct",
                "rule_set": [
                    "WeChat",
                    "Bilibili"
                ]
            },
            {
                "domain_suffix": [
                    "depay.one",
                    "orbstack.dev"
                ],
                "outbound": "select"
            },
            {
                "domain": "accounts.google.com",
                "domain_suffix": [
                    "sourceforge.net",
                    "fhjasokiwq.com"
                ],
                "outbound": "select"
            },
            {
                "domain_suffix": "cloud.sealos.io",
                "outbound": "direct"
            },
            {
                "mode": "and",
                "outbound": "select",
                "rules": [
                    {
                        "rule_set": "geosite-geolocation-!cn"
                    },
                    {
                        "invert": true,
                        "rule_set": "geoip-cn"
                    }
                ],
                "type": "logical"
            },
            {
                "outbound": "select",
                "rule_set": "Global"
            },
            {
                "ip_is_private": true,
                "outbound": "direct"
            },
            {
                "outbound": "select",
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ]
            }
        ]
    }
}
