{
    "dns": {
        "final": "dns_proxy",
        "independent_cache": true,
        "rules": [
            {
                "outbound": "any",
                "server": "dns_resolver"
            },
            {
                "clash_mode": "direct",
                "server": "dns_direct"
            },
            {
                "clash_mode": "global",
                "server": "dns_proxy"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "server": "dns_direct"
            },
            {
                "rule_set": "geosite-geolocation-!cn",
                "server": "dns_proxy"
            },
            {
                "rule_set": "Global",
                "server": "dns_proxy"
            },
            {
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ],
                "server": "dns_proxy"
            }
        ],
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "select",
                "strategy": "ipv4_only",
                "tag": "dns_proxy"
            },
            {
                "address": "h3://dns.alidns.com/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_direct"
            },
            {
                "address": "rcode://refused",
                "tag": "dns_block"
            },
            {
                "address": "223.5.5.5",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_resolver"
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        },
        "clash_api": {
            "default_mode": "rule",
            "external_controller": "0.0.0.0:9090",
            "external_ui": "metacubexd",
            "external_ui_download_detour": "select",
            "external_ui_download_url": "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip",
            "secret": "password"
        }
    },
    "inbounds": [
        {
            "auto_route": true,
            "inet4_address": "172.19.0.1/30",
            "inet6_address": "fdfe:dcba:9876::1/126",
            "sniff": true,
            "stack": "mixed",
            "type": "tun"
        },
        {
            "listen": "::",
            "listen_port": 5353,
            "tag": "socks-in",
            "type": "socks"
        },
        {
            "listen": "0.0.0.0",
            "listen_port": 2080,
            "tag": "mixed-in",
            "type": "mixed"
        }
    ],
    "log": {
        "disabled": false,
        "level": "info",
        "timestamp": true
    },
    "ntp": {
        "detour": "direct",
        "enabled": true,
        "interval": "30m0s",
        "server": "time.apple.com",
        "server_port": 123
    },
    "outbounds": [
        {
            "tag": "select",
            "type": "selector",
            "default": "urltest",
            "outbounds": [
                "urltest",
                "🇫🇷",
                " 2🇫🇷",
                " 3🇫🇷",
                " 4🇫🇷",
                " 5🇫🇷",
                " 6🇫🇷",
                " 7🇫🇷",
                " 8🇫🇷",
                " 9🇫🇷",
                " 10🇫🇷",
                " 11🇫🇷",
                " 12🇫🇷",
                " 13🇧🇷",
                " 14🇺🇸",
                " 15🇫🇷",
                " 16🇫🇷",
                " 17🇫🇷",
                " 18🇫🇷",
                " 19🇫🇷",
                " 20🇫🇷",
                " 21🇫🇷",
                " 22🇧🇬",
                " 23🇫🇷",
                " 24🇫🇷",
                " 25🇫🇷",
                " 26🇫🇷",
                " 27🇫🇷",
                " 28🇫🇷",
                " 29🇫🇷",
                " 30🇫🇷",
                " 31🇫🇷",
                " 32🇫🇷",
                " 33🇫🇷",
                " 34🇫🇷",
                " 35🇫🇷",
                " 36🇫🇷",
                " 37🇫🇷",
                " 38🇫🇷",
                " 39🇫🇷",
                " 40🇫🇷",
                " 41🇫🇷",
                " 42🇫🇷",
                " 43🇫🇷",
                " 44🇭🇰",
                " 45🇫🇷",
                "套餐到期：2024-06-18🌍",
                "AF_54🇸🇪",
                "AO_56🇺🇸",
                "AR_57🇦🇷",
                "AU_58🇯🇵",
                "BA_59🇧🇦",
                "CA_61🇨🇦",
                "CA_62🇨🇦",
                "CL_63🇨🇱",
                "DE_64🇩🇪",
                "FR_100🇬🇧",
                "HK10🇭🇰",
                "HK11🇭🇰",
                "HK12🇭🇰",
                "HK13🇭🇰",
                "HK14🇭🇰",
                "HK15🇭🇰",
                "HK16🇭🇰",
                "HK17 1.4MB/s🇭🇰",
                "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
                "CA_18 | 5.08Mb🇨🇦",
                "CA_19 | 3.40Mb🇨🇦",
                "CA_20 |18.19Mb🇨🇦",
                "HKLite🌍",
                "HKLite2🌍",
                "HKLite3🌍",
                "🇨🇦 _CA_加拿大",
                "BG-5.101.219.5-228_1@227🇧🇬",
                "FASTLY-151.101.64.144-168_1@168🇺🇸"
            ]
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "149.202.82.172",
            "server_port": 443,
            "tag": "🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "149.202.82.172",
            "server_port": 8119,
            "tag": " 2🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "149.202.82.172",
            "server_port": 2376,
            "tag": " 3🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "zDNVedRFPQexG9v",
            "server": "149.202.82.172",
            "server_port": 6379,
            "tag": " 4🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "FoOiGlkAA9yPEGP",
            "server": "149.202.82.172",
            "server_port": 7306,
            "tag": " 5🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "e4FCWrgpkji3QY",
            "server": "149.202.82.172",
            "server_port": 9102,
            "tag": " 6🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "149.202.82.172",
            "server_port": 8882,
            "tag": " 7🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "YjA5YmMx",
            "server": "185.231.205.80",
            "server_port": 1443,
            "tag": " 8🇫🇷",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 8888,
            "tag": " 9🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "RexnBgU7EV5ADxG",
            "server": "149.202.82.172",
            "server_port": 7002,
            "tag": " 10🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "149.202.82.172",
            "server_port": 5003,
            "tag": " 11🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "149.202.82.172",
            "server_port": 8008,
            "tag": " 12🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "8be51adf-b081-4fb9-b751-8859cca58fd4",
            "server": "fell3.dogsvpn.top",
            "server_port": 7704,
            "tag": " 13🇧🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "2170f8",
            "server": "45.55.2.232",
            "server_port": 14293,
            "tag": " 14🇺🇸",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "195.154.169.198",
            "server_port": 989,
            "tag": " 15🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "YjA5YmMx",
            "server": "185.231.205.80",
            "server_port": 8388,
            "tag": " 16🇫🇷",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "195.154.185.174",
            "server_port": 989,
            "tag": " 17🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "51.159.111.208",
            "server_port": 989,
            "tag": " 18🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "wKmDInbrlOhZzjhh1WsvU7",
            "server": "45.15.157.199",
            "server_port": 45346,
            "tag": " 19🇫🇷",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 8080,
            "tag": " 20🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "149.202.82.172",
            "server_port": 6697,
            "tag": " 21🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "M3t2ZEQcMGRWBjRa",
            "server": "213.183.63.69",
            "server_port": 9011,
            "tag": " 22🇧🇬",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 5600,
            "tag": " 23🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 5601,
            "tag": " 24🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "149.202.82.172",
            "server_port": 2375,
            "tag": " 25🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "149.202.82.172",
            "server_port": 8091,
            "tag": " 26🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "149.202.82.172",
            "server_port": 8881,
            "tag": " 27🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "149.202.82.172",
            "server_port": 8090,
            "tag": " 28🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "149.202.82.172",
            "server_port": 8118,
            "tag": " 29🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "e4FCWrgpkji3QY",
            "server": "149.202.82.172",
            "server_port": 9101,
            "tag": " 30🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "149.202.82.172",
            "server_port": 8009,
            "tag": " 31🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 5000,
            "tag": " 32🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 3306,
            "tag": " 33🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 8000,
            "tag": " 34🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "149.202.82.172",
            "server_port": 4444,
            "tag": " 35🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "RexnBgU7EV5ADxG",
            "server": "149.202.82.172",
            "server_port": 7001,
            "tag": " 36🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 5500,
            "tag": " 37🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 3389,
            "tag": " 38🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "FoOiGlkAA9yPEGP",
            "server": "149.202.82.172",
            "server_port": 7307,
            "tag": " 39🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "149.202.82.172",
            "server_port": 5004,
            "tag": " 40🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "149.202.82.172",
            "server_port": 6679,
            "tag": " 41🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "51.178.87.37",
            "server_port": 810,
            "tag": " 42🇫🇷",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "51.178.87.37",
            "server_port": 800,
            "tag": " 43🇫🇷",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "2155145a-b1b5-443a-8977-670f6bd10f02",
            "server": "bgroup.node4.s.nodelist-gfwairport2.top",
            "server_port": 50001,
            "tag": " 44🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "3b9ktZGztC",
            "server": "162.19.25.207",
            "server_port": 34232,
            "tag": " 45🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm"
        },
        {
            "server": "vip1.hpyjc.top",
            "server_port": 2086,
            "tag": "套餐到期：2024-06-18🌍",
            "transport": {
                "headers": {
                    "Host": [
                        "jp1.hpyjc.top"
                    ]
                },
                "path": "/?ed=2048",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "3f8dd6c6-c8ad-49f0-a102-31769b1efb77"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "121.127.46.147",
            "server_port": 989,
            "tag": "AF_54🇸🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "3fbeb668f48414f6",
            "server": "104.167.197.23",
            "server_port": 57456,
            "tag": "AO_56🇺🇸",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.103.176.29",
            "server_port": 989,
            "tag": "AR_57🇦🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "140.83.63.38",
            "server_port": 24445,
            "tag": "AU_58🇯🇵",
            "type": "vmess",
            "alter_id": 64,
            "security": "auto",
            "uuid": "94c5ef37-4d82-49f9-c624-f01259374a17"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.164.35.9",
            "server_port": 989,
            "tag": "BA_59🇧🇦",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "167.114.90.198",
            "server_port": 50577,
            "tag": "CA_61🇨🇦",
            "type": "vmess",
            "security": "auto",
            "uuid": "132b0296-e304-45a6-b045-4cdf0902e2b7"
        },
        {
            "server": "158.51.121.36",
            "server_port": 443,
            "tag": "CA_62🇨🇦",
            "tls": {
                "enabled": true,
                "server_name": "158.51.121.36",
                "insecure": true
            },
            "transport": {
                "path": "/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.120.230.9",
            "server_port": 989,
            "tag": "CL_63🇨🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "rpgbNnU9rDDU4aWZ",
            "server": "80.92.204.106",
            "server_port": 9094,
            "tag": "DE_64🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "145.239.6.202",
            "server_port": 4444,
            "tag": "FR_100🇬🇧",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "299025b9-6b55-430c-be38-9a18c06873ac",
            "server": "91.199.84.57",
            "server_port": 12034,
            "tag": "HK10🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "china3.one.edu.kg",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "8d1e94cd-23cf-4267-b630-c6894e6e1b4d",
            "server": "20.2.161.199",
            "server_port": 443,
            "tag": "HK11🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "20.2.161.199",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.187",
            "server_port": 56012,
            "tag": "HK12🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56032,
            "tag": "HK13🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56047,
            "tag": "HK14🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56026,
            "tag": "HK15🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "210.3.159.224",
            "server_port": 12909,
            "tag": "HK16🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "210.3.159.224",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "8259cb1c-dd6c-4739-9c88-af550d977525"
        },
        {
            "password": "a-wym4ovY4Yw",
            "server": "47.242.87.55",
            "server_port": 81,
            "tag": "HK17 1.4MB/s🇭🇰",
            "type": "shadowsocks",
            "method": "aes-128-gcm",
            "network": "tcp"
        },
        {
            "server": "94.140.0.110",
            "server_port": 8880,
            "tag": "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
            "transport": {
                "headers": {
                    "Host": [
                        "food.zhaal.ir"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "0d1bf26a-ce97-4707-a270-7f4d2ae37334"
        },
        {
            "password": "lGqs95QkFHo2NV",
            "server": "38.111.114.133",
            "server_port": 5498,
            "tag": "CA_18 | 5.08Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "38.111.114.133",
            "server_port": 8881,
            "tag": "CA_19 | 3.40Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "H8VxLqNGfVTF5gKyQoFkGr",
            "server": "162.221.207.62",
            "server_port": 443,
            "tag": "CA_20 |18.19Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "cf1.go-relay.top",
            "server_port": 80,
            "tag": "HKLite🌍",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf2.go-relay.top",
            "server_port": 80,
            "tag": "HKLite2🌍",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf3.go-relay.top",
            "server_port": 80,
            "tag": "HKLite3🌍",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "password": "3e2290c5-332f-4bbe-8efb-05d4addc095b",
            "server": "91.194.11.168",
            "server_port": 443,
            "tag": "🇨🇦 _CA_加拿大",
            "tls": {
                "enabled": true,
                "server_name": "91.194.11.168",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "server": "5.101.219.5",
            "server_port": 80,
            "tag": "BG-5.101.219.5-228_1@227🇧🇬",
            "transport": {
                "headers": {
                    "Host": [
                        "tasnim.servecounterstrike.com"
                    ]
                },
                "path": "/@forwardv2ray",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "a9c33d66-e66f-4a53-9ef0-3f6c52c8d091"
        },
        {
            "server": "gov.uk",
            "server_port": 443,
            "tag": "FASTLY-151.101.64.144-168_1@168🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "gov.uk",
                "insecure": true
            },
            "transport": {
                "headers": {
                    "Host": [
                        "zheshiscp.com"
                    ]
                },
                "path": "/77848824",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "77848824-93b7-4b89-ffd0-e91afff406ce"
        },
        {
            "tag": "urltest",
            "type": "urltest",
            "outbounds": [
                "🇫🇷",
                " 2🇫🇷",
                " 3🇫🇷",
                " 4🇫🇷",
                " 5🇫🇷",
                " 6🇫🇷",
                " 7🇫🇷",
                " 8🇫🇷",
                " 9🇫🇷",
                " 10🇫🇷",
                " 11🇫🇷",
                " 12🇫🇷",
                " 13🇧🇷",
                " 14🇺🇸",
                " 15🇫🇷",
                " 16🇫🇷",
                " 17🇫🇷",
                " 18🇫🇷",
                " 19🇫🇷",
                " 20🇫🇷",
                " 21🇫🇷",
                " 22🇧🇬",
                " 23🇫🇷",
                " 24🇫🇷",
                " 25🇫🇷",
                " 26🇫🇷",
                " 27🇫🇷",
                " 28🇫🇷",
                " 29🇫🇷",
                " 30🇫🇷",
                " 31🇫🇷",
                " 32🇫🇷",
                " 33🇫🇷",
                " 34🇫🇷",
                " 35🇫🇷",
                " 36🇫🇷",
                " 37🇫🇷",
                " 38🇫🇷",
                " 39🇫🇷",
                " 40🇫🇷",
                " 41🇫🇷",
                " 42🇫🇷",
                " 43🇫🇷",
                " 44🇭🇰",
                " 45🇫🇷",
                "套餐到期：2024-06-18🌍",
                "AF_54🇸🇪",
                "AO_56🇺🇸",
                "AR_57🇦🇷",
                "AU_58🇯🇵",
                "BA_59🇧🇦",
                "CA_61🇨🇦",
                "CA_62🇨🇦",
                "CL_63🇨🇱",
                "DE_64🇩🇪",
                "FR_100🇬🇧",
                "HK10🇭🇰",
                "HK11🇭🇰",
                "HK12🇭🇰",
                "HK13🇭🇰",
                "HK14🇭🇰",
                "HK15🇭🇰",
                "HK16🇭🇰",
                "HK17 1.4MB/s🇭🇰",
                "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
                "CA_18 | 5.08Mb🇨🇦",
                "CA_19 | 3.40Mb🇨🇦",
                "CA_20 |18.19Mb🇨🇦",
                "HKLite🌍",
                "HKLite2🌍",
                "HKLite3🌍",
                "🇨🇦 _CA_加拿大",
                "BG-5.101.219.5-228_1@227🇧🇬",
                "FASTLY-151.101.64.144-168_1@168🇺🇸"
            ]
        },
        {
            "tag": "direct",
            "type": "direct"
        },
        {
            "tag": "block",
            "type": "block"
        },
        {
            "tag": "dns-out",
            "type": "dns"
        }
    ],
    "route": {
        "auto_detect_interface": false,
        "final": "select",
        "rule_set": [
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-geolocation-!cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-google",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-google.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-apple",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-apple.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-telegram.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-twitter",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-twitter.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-netflix.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblock",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblock.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblockplus",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblockplus.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adguard",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adguard.srs"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Global",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Global.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "YouTube",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/YouTube.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "OpenAI",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/OpenAI.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "TikTok",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/TikTok.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Telegram.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Netflix.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "WeChat",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/WeChat.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Bilibili",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Bilibili.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "GFW",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/gfw.json"
            }
        ],
        "rules": [
            {
                "outbound": "dns-out",
                "protocol": "dns"
            },
            {
                "clash_mode": "direct",
                "outbound": "direct"
            },
            {
                "clash_mode": "global",
                "outbound": "select"
            },
            {
                "outbound": "direct",
                "rule_set": "geoip-cn"
            },
            {
                "outbound": "🍎 苹果",
                "rule_set": "geoip-apple"
            },
            {
                "domain_suffix": [
                    "copilot.microsoft.com",
                    "gemini.google.com",
                    "claude.ai",
                    "chatgpt.com",
                    "bing.com",
                    "oaistatic.com",
                    "oaiusercontent.com"
                ],
                "outbound": "🤖 AI",
                "rule_set": "OpenAI"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "outbound": "direct"
            },
            {
                "outbound": "block",
                "protocol": "quic"
            },
            {
                "inbound": "socks-in",
                "outbound": "select"
            },
            {
                "outbound": "block",
                "rule_set": [
                    "geosite-adblock",
                    "geosite-adblockplus",
                    "geosite-adguard"
                ]
            },
            {
                "outbound": "direct",
                "rule_set": [
                    "WeChat",
                    "Bilibili"
                ]
            },
            {
                "domain_suffix": [
                    "depay.one",
                    "orbstack.dev"
                ],
                "outbound": "select"
            },
            {
                "domain": "accounts.google.com",
                "domain_suffix": [
                    "sourceforge.net",
                    "fhjasokiwq.com"
                ],
                "outbound": "select"
            },
            {
                "domain_suffix": "cloud.sealos.io",
                "outbound": "direct"
            },
            {
                "mode": "and",
                "outbound": "select",
                "rules": [
                    {
                        "rule_set": "geosite-geolocation-!cn"
                    },
                    {
                        "invert": true,
                        "rule_set": "geoip-cn"
                    }
                ],
                "type": "logical"
            },
            {
                "outbound": "select",
                "rule_set": "Global"
            },
            {
                "ip_is_private": true,
                "outbound": "direct"
            },
            {
                "outbound": "select",
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ]
            }
        ]
    }
}
