{
    "dns": {
        "final": "dns_proxy",
        "independent_cache": true,
        "rules": [
            {
                "outbound": "any",
                "server": "dns_resolver"
            },
            {
                "clash_mode": "direct",
                "server": "dns_direct"
            },
            {
                "clash_mode": "global",
                "server": "dns_proxy"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "server": "dns_direct"
            },
            {
                "rule_set": "geosite-geolocation-!cn",
                "server": "dns_proxy"
            },
            {
                "rule_set": "Global",
                "server": "dns_proxy"
            },
            {
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ],
                "server": "dns_proxy"
            }
        ],
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "select",
                "strategy": "ipv4_only",
                "tag": "dns_proxy"
            },
            {
                "address": "h3://dns.alidns.com/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_direct"
            },
            {
                "address": "rcode://refused",
                "tag": "dns_block"
            },
            {
                "address": "223.5.5.5",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_resolver"
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        },
        "clash_api": {
            "default_mode": "rule",
            "external_controller": "0.0.0.0:9090",
            "external_ui": "metacubexd",
            "external_ui_download_detour": "select",
            "external_ui_download_url": "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip",
            "secret": "password"
        }
    },
    "inbounds": [
        {
            "auto_route": true,
            "inet4_address": "172.19.0.1/30",
            "inet6_address": "fdfe:dcba:9876::1/126",
            "sniff": true,
            "stack": "mixed",
            "type": "tun"
        },
        {
            "listen": "::",
            "listen_port": 5353,
            "tag": "socks-in",
            "type": "socks"
        },
        {
            "listen": "0.0.0.0",
            "listen_port": 2080,
            "tag": "mixed-in",
            "type": "mixed"
        }
    ],
    "log": {
        "disabled": false,
        "level": "info",
        "timestamp": true
    },
    "ntp": {
        "detour": "direct",
        "enabled": true,
        "interval": "30m0s",
        "server": "time.apple.com",
        "server_port": 123
    },
    "outbounds": [
        {
            "tag": "select",
            "type": "selector",
            "default": "urltest",
            "outbounds": [
                "urltest",
                "HKLite🇺🇸",
                "HKLite2🇺🇸",
                "HKLite3🇺🇸",
                "🇨🇳 台湾",
                "BD | 0.61Mb🇰🇿",
                "CA_1267 | 7.91Mb🇨🇦",
                "CA_1277 | 4.33Mb🇨🇦",
                "CA_1279 | 3.30Mb🇨🇦",
                "CA_1283 | 0.99Mb🇨🇦",
                "CA_1284 | 4.26Mb🇨🇦",
                "CA_1291 |29.55Mb🇨🇦",
                "CA_1301 |15.46Mb🇨🇦",
                "CO_1368 | 9.28Mb🇳🇱",
                "DE_1375🇩🇪",
                "DE_1377 |107.46Mb🇩🇪",
                "DE_1379 |112.08Mb🇩🇪",
                "AF_04🇸🇪",
                "AR_05🇦🇷",
                "BA_06🇧🇦",
                "CL_07🇨🇱",
                "DE_08🇩🇪",
                "DE_09🇩🇪",
                "FR_10🇫🇷",
                "FR_11🇫🇷",
                "FR_12🇬🇧",
                "FR_13🇩🇪",
                "FR_14🇫🇷",
                "FR_15🇫🇷",
                "FR_16🇫🇷",
                "FR_17🇫🇷",
                "FR_18🇫🇷",
                "GB_19🇬🇧",
                "GB_20🇬🇧",
                "GB_21🇬🇧",
                "MX_23🇲🇽",
                "PA_24🇵🇦",
                "AE-40.120.103.192-0761 | 12.186MB🇦🇪",
                "AL-31.171.153.181-0748 | 18.078MB🇦🇱",
                "AT-185.180.12.81-0718 | 23.479MB🇦🇹",
                "亚太地区 V2CROSS.COM🇹🇼",
                "🇨🇦 _CA_加拿大",
                "🇨🇦 加拿大 001",
                "🇨🇦 加拿大 004",
                "🇨🇦 加拿大 005",
                "🇨🇦 加拿大 007",
                "🇨🇦 加拿大 008",
                "🇨🇦 加拿大 010",
                "🇨🇦 加拿大 011",
                "🇨🇦 加拿大 012",
                "🇨🇦 加拿大 013",
                "🇨🇦 加拿大 014",
                "🇨🇦 加拿大 015",
                "🇨🇦 加拿大 019",
                "🇨🇦 加拿大 020",
                "🇨🇦 加拿大 021",
                "🇨🇦 加拿大 022",
                "🇨🇦 加拿大 023",
                "🇨🇦 加拿大 024",
                "🇨🇦 加拿大 025",
                "🇨🇦 加拿大 026",
                "🇨🇦 加拿大 027",
                "🇨🇦 加拿大 028",
                "RU_youtube@资源分享师_174🇷🇺",
                "ChatGPT 🏁 ZZ_02",
                "ChatGPT 🏁 ZZ_03",
                "ChatGPT 🏁 ZZ_04",
                "ChatGPT 🏁 ZZ_05",
                "ChatGPT 🏁 ZZ_06",
                "ChatGPT 🏁 ZZ_07",
                "ChatGPT 🏁 ZZ_08",
                "ChatGPT 🏁 ZZ_09",
                "ChatGPT 🏁 ZZ_10",
                "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
                "CA_speednode_0005🇨🇦",
                "HK_speednode_0062🇭🇰"
            ]
        },
        {
            "server": "cf1.go-relay.top",
            "server_port": 80,
            "tag": "HKLite🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf2.go-relay.top",
            "server_port": 80,
            "tag": "HKLite2🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf3.go-relay.top",
            "server_port": 80,
            "tag": "HKLite3🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cfcdn1.sanfencdn9.com",
            "server_port": 2052,
            "tag": "🇨🇳 台湾",
            "transport": {
                "headers": {
                    "Host": [
                        "tw1bQiWSE4x.fzbqfrse.xyz"
                    ]
                },
                "path": "/video/GQ2qE5Us9g",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1564cf5b-48c2-46f9-a59c-0234e936f237"
        },
        {
            "password": "7RZZuVa80DAJIeBmdArVMt",
            "server": "103.106.3.170",
            "server_port": 27179,
            "tag": "BD | 0.61Mb🇰🇿",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "38.111.114.133",
            "server_port": 6679,
            "tag": "CA_1267 | 7.91Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 9090,
            "tag": "CA_1277 | 4.33Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "38.111.114.133",
            "server_port": 2375,
            "tag": "CA_1279 | 3.30Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "38.111.114.133",
            "server_port": 8080,
            "tag": "CA_1283 | 0.99Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "38.111.114.133",
            "server_port": 5003,
            "tag": "CA_1284 | 4.26Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "H8VxLqNGfVTF5gKyQoFkGr",
            "server": "ca.yangon.club",
            "server_port": 443,
            "tag": "CA_1291 |29.55Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "3e2290c5-332f-4bbe-8efb-05d4addc095b",
            "server": "91.194.11.168",
            "server_port": 443,
            "tag": "CA_1301 |15.46Mb🇨🇦",
            "tls": {
                "enabled": true,
                "server_name": "91.194.11.168",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "server": "188.114.97.43",
            "server_port": 443,
            "tag": "CO_1368 | 9.28Mb🇳🇱",
            "tls": {
                "enabled": true,
                "server_name": "ua2-vmess.sshmax.xyz",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "0e4d17ea-1332-481a-aae2-ef9b790201cf"
        },
        {
            "password": "NvS8N4Vf8qAGPSCL",
            "server": "80.92.204.106",
            "server_port": 9046,
            "tag": "DE_1375🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "aLpQtfEZe445QyHk",
            "server": "80.92.204.106",
            "server_port": 9098,
            "tag": "DE_1377 |107.46Mb🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "ZpNDDKRu9MagNvaf",
            "server": "80.92.204.106",
            "server_port": 9015,
            "tag": "DE_1379 |112.08Mb🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "121.127.46.147",
            "server_port": 989,
            "tag": "AF_04🇸🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.103.176.29",
            "server_port": 989,
            "tag": "AR_05🇦🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.164.35.9",
            "server_port": 989,
            "tag": "BA_06🇧🇦",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.120.230.9",
            "server_port": 989,
            "tag": "CL_07🇨🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "rpgbNnU9rDDU4aWZ",
            "server": "80.92.204.106",
            "server_port": 9094,
            "tag": "DE_08🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "217.160.45.31",
            "server_port": 8880,
            "tag": "DE_09🇩🇪",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "4e186678-fcca-4325-e4bc-b2916bdf6708"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "51.159.111.208",
            "server_port": 989,
            "tag": "FR_10🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "149.202.82.172",
            "server_port": 6697,
            "tag": "FR_11🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "145.239.6.202",
            "server_port": 4444,
            "tag": "FR_12🇬🇧",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "217.182.198.219",
            "server_port": 3389,
            "tag": "FR_13🇩🇪",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "195.154.169.198",
            "server_port": 989,
            "tag": "FR_14🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "54.36.174.181",
            "server_port": 8090,
            "tag": "FR_15🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "195.154.185.174",
            "server_port": 989,
            "tag": "FR_16🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "54.36.174.181",
            "server_port": 5001,
            "tag": "FR_17🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 8080,
            "tag": "FR_18🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "77.72.5.150",
            "server_port": 989,
            "tag": "GB_19🇬🇧",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "shadowsocks",
            "server": "212.102.53.80",
            "server_port": 443,
            "tag": "GB_20🇬🇧",
            "type": "shadowsocks",
            "method": "aes-128-gcm",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "77.72.5.113",
            "server_port": 989,
            "tag": "GB_21🇬🇧",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.103.179.23",
            "server_port": 989,
            "tag": "MX_23🇲🇽",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "138.186.142.4",
            "server_port": 989,
            "tag": "PA_24🇵🇦",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "u17T3BvpYaaiuW2c",
            "server": "series-a2-mec.samanehha.co",
            "server_port": 443,
            "tag": "AE-40.120.103.192-0761 | 12.186MB🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "31.171.153.181",
            "server_port": 989,
            "tag": "AL-31.171.153.181-0748 | 18.078MB🇦🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.180.12.81",
            "server_port": 989,
            "tag": "AT-185.180.12.81-0718 | 23.479MB🇦🇹",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "103.159.206.35",
            "server_port": 31945,
            "tag": "亚太地区 V2CROSS.COM🇹🇼",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "e2e511b0-7def-4e1b-d238-6cb5391b2e3f"
        },
        {
            "server": "108.181.10.17",
            "server_port": 80,
            "tag": "🇨🇦 _CA_加拿大",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "474e8680-701f-11ee-b436-205c6d5f5d78"
        },
        {
            "server": "162.159.133.109",
            "server_port": 80,
            "tag": "🇨🇦 加拿大 001",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "5820093a-bb7d-4e15-8575-1a529f2d8282"
        },
        {
            "server": "cfcdn1.sanfencdn9.com",
            "server_port": 8880,
            "tag": "🇨🇦 加拿大 004",
            "transport": {
                "headers": {
                    "Host": [
                        "us6gzxQRrE4.fzbqfrse.xyz"
                    ]
                },
                "path": "/video/bYdJ7Vc2We",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "2eec45db-dfcd-43d6-8514-b141aff651be"
        },
        {
            "server": "cfcdn3.sanfencdn9.com",
            "server_port": 80,
            "tag": "🇨🇦 加拿大 005",
            "transport": {
                "headers": {
                    "Host": [
                        "oA5FSz9Tjp1.yofnhkfc.xyz"
                    ]
                },
                "path": "/video/P7EExoE2",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1ed3f9fd-7adb-4971-b8c0-3d4916290982"
        },
        {
            "server": "hms04.xmivideo.cfd",
            "server_port": 443,
            "tag": "🇨🇦 加拿大 007",
            "tls": {
                "enabled": true,
                "server_name": "hms04.xmivideo.cfd"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "xmivideo.cfd"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "93ea486a-bada-42a4-ac38-d088b320fa1e"
        },
        {
            "server": "104.19.40.222",
            "server_port": 8880,
            "tag": "🇨🇦 加拿大 008",
            "transport": {
                "headers": {
                    "Host": [
                        "uk.moss.network"
                    ]
                },
                "path": "/d/65dd503.TG.WangCai2.WangCai_8:107690",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "57e0cb4d-eae5-48ec-8091-149dc2b309e0"
        },
        {
            "server": "172.67.92.186",
            "server_port": 443,
            "tag": "🇨🇦 加拿大 010",
            "tls": {
                "enabled": true,
                "server_name": "172.67.92.186"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-111.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.92.186",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.67.119.152",
            "server_port": 2053,
            "tag": "🇨🇦 加拿大 011",
            "tls": {
                "enabled": true,
                "server_name": "172.67.119.152"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-129.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.119.152",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.24.199.171",
            "server_port": 2096,
            "tag": "🇨🇦 加拿大 012",
            "tls": {
                "enabled": true,
                "server_name": "104.24.199.171"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-147.db-link01.top"
                    ]
                },
                "path": "/dabai.in104.24.199.171",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.24.80.18",
            "server_port": 80,
            "tag": "🇨🇦 加拿大 013",
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-369.cn-db.top"
                    ]
                },
                "path": "/dabai.in104.24.80.18",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.64.53.176",
            "server_port": 2096,
            "tag": "🇨🇦 加拿大 014",
            "tls": {
                "enabled": true,
                "server_name": "172.64.53.176"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-94.cn-db.top"
                    ]
                },
                "path": "/dabai.in172.64.53.176",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.18.253.54",
            "server_port": 2053,
            "tag": "🇨🇦 加拿大 015",
            "tls": {
                "enabled": true,
                "server_name": "104.18.253.54"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-309.db-link02.top"
                    ]
                },
                "path": "/dabai.in104.18.253.54",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "flkf2.shabijichang.com",
            "server_port": 80,
            "tag": "🇨🇦 加拿大 019",
            "transport": {
                "headers": {
                    "Host": [
                        "flkf2.shabijichang.com"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "c458695d-6908-45c3-9512-e0c46418454c"
        },
        {
            "server": "172.67.68.189",
            "server_port": 8080,
            "tag": "🇨🇦 加拿大 020",
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-105.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.68.189",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.67.63.247",
            "server_port": 2087,
            "tag": "🇨🇦 加拿大 021",
            "tls": {
                "enabled": true,
                "server_name": "172.67.63.247"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-75.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.63.247",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.67.59.19",
            "server_port": 2096,
            "tag": "🇨🇦 加拿大 022",
            "tls": {
                "enabled": true,
                "server_name": "172.67.59.19"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-493.cn-db.top"
                    ]
                },
                "path": "/dabai.in172.67.59.19",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.18.0.148",
            "server_port": 8880,
            "tag": "🇨🇦 加拿大 023",
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-206.cn-db.top"
                    ]
                },
                "path": "/dabai.in104.18.0.148",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.67.76.181",
            "server_port": 2053,
            "tag": "🇨🇦 加拿大 024",
            "tls": {
                "enabled": true,
                "server_name": "172.67.76.181"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-163.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.76.181",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.16.16.114",
            "server_port": 2087,
            "tag": "🇨🇦 加拿大 025",
            "tls": {
                "enabled": true,
                "server_name": "104.16.16.114"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-371.db-link01.top"
                    ]
                },
                "path": "/dabai.in104.16.16.114",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.64.53.148",
            "server_port": 2052,
            "tag": "🇨🇦 加拿大 026",
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-271.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.64.53.148",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "172.67.57.179",
            "server_port": 2052,
            "tag": "🇨🇦 加拿大 027",
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-312.db-link01.top"
                    ]
                },
                "path": "/dabai.in172.67.57.179",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "104.20.52.157",
            "server_port": 2053,
            "tag": "🇨🇦 加拿大 028",
            "tls": {
                "enabled": true,
                "server_name": "104.20.52.157"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "100-100-17-242.db-link02.top"
                    ]
                },
                "path": "/dabai.in104.20.52.157",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "d930577a-2543-3f74-bd62-fda462fc8c18"
        },
        {
            "server": "45.136.245.240",
            "server_port": 12910,
            "tag": "RU_youtube@资源分享师_174🇷🇺",
            "tls": {
                "enabled": true,
                "server_name": "45.136.245.240",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "8259cb1c-dd6c-4739-9c88-af550d977525"
        },
        {
            "password": "UkXRsXvR6buDMG2Y",
            "server": "45.89.52.66",
            "server_port": 9001,
            "tag": "ChatGPT 🏁 ZZ_02",
            "type": "shadowsocks",
            "method": "aes-256-cfb"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "38.114.114.208",
            "server_port": 2375,
            "tag": "ChatGPT 🏁 ZZ_03",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "38.121.43.71",
            "server_port": 8009,
            "tag": "ChatGPT 🏁 ZZ_04",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "38.75.136.108",
            "server_port": 8091,
            "tag": "ChatGPT 🏁 ZZ_05",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "QWDDvVE9npNurQfA",
            "server": "103.172.116.103",
            "server_port": 9026,
            "tag": "ChatGPT 🏁 ZZ_06",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "38.110.1.167",
            "server_port": 8118,
            "tag": "ChatGPT 🏁 ZZ_07",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KBGjZYcy4SyRShmA",
            "server": "103.172.116.79",
            "server_port": 9044,
            "tag": "ChatGPT 🏁 ZZ_08",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "38.75.136.21",
            "server_port": 5500,
            "tag": "ChatGPT 🏁 ZZ_09",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "mGUCxJURD8yHfXexvivQhJ",
            "server": "51.145.101.254",
            "server_port": 19054,
            "tag": "ChatGPT 🏁 ZZ_10",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "94.140.0.110",
            "server_port": 8880,
            "tag": "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
            "transport": {
                "headers": {
                    "Host": [
                        "food.zhaal.ir"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "0d1bf26a-ce97-4707-a270-7f4d2ae37334"
        },
        {
            "server": "23.162.200.227",
            "server_port": 443,
            "tag": "CA_speednode_0005🇨🇦",
            "tls": {
                "enabled": true,
                "server_name": "23.162.200.227",
                "insecure": true
            },
            "transport": {
                "path": "/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "118.107.245.22",
            "server_port": 443,
            "tag": "HK_speednode_0062🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "118.107.245.22",
                "insecure": true
            },
            "transport": {
                "path": "/path/182320181512",
                "type": "ws"
            },
            "type": "vmess",
            "alter_id": 64,
            "security": "auto",
            "uuid": "418048af-a293-4b99-9b0c-98ca3580dd24"
        },
        {
            "tag": "urltest",
            "type": "urltest",
            "outbounds": [
                "HKLite🇺🇸",
                "HKLite2🇺🇸",
                "HKLite3🇺🇸",
                "🇨🇳 台湾",
                "BD | 0.61Mb🇰🇿",
                "CA_1267 | 7.91Mb🇨🇦",
                "CA_1277 | 4.33Mb🇨🇦",
                "CA_1279 | 3.30Mb🇨🇦",
                "CA_1283 | 0.99Mb🇨🇦",
                "CA_1284 | 4.26Mb🇨🇦",
                "CA_1291 |29.55Mb🇨🇦",
                "CA_1301 |15.46Mb🇨🇦",
                "CO_1368 | 9.28Mb🇳🇱",
                "DE_1375🇩🇪",
                "DE_1377 |107.46Mb🇩🇪",
                "DE_1379 |112.08Mb🇩🇪",
                "AF_04🇸🇪",
                "AR_05🇦🇷",
                "BA_06🇧🇦",
                "CL_07🇨🇱",
                "DE_08🇩🇪",
                "DE_09🇩🇪",
                "FR_10🇫🇷",
                "FR_11🇫🇷",
                "FR_12🇬🇧",
                "FR_13🇩🇪",
                "FR_14🇫🇷",
                "FR_15🇫🇷",
                "FR_16🇫🇷",
                "FR_17🇫🇷",
                "FR_18🇫🇷",
                "GB_19🇬🇧",
                "GB_20🇬🇧",
                "GB_21🇬🇧",
                "MX_23🇲🇽",
                "PA_24🇵🇦",
                "AE-40.120.103.192-0761 | 12.186MB🇦🇪",
                "AL-31.171.153.181-0748 | 18.078MB🇦🇱",
                "AT-185.180.12.81-0718 | 23.479MB🇦🇹",
                "亚太地区 V2CROSS.COM🇹🇼",
                "🇨🇦 _CA_加拿大",
                "🇨🇦 加拿大 001",
                "🇨🇦 加拿大 004",
                "🇨🇦 加拿大 005",
                "🇨🇦 加拿大 007",
                "🇨🇦 加拿大 008",
                "🇨🇦 加拿大 010",
                "🇨🇦 加拿大 011",
                "🇨🇦 加拿大 012",
                "🇨🇦 加拿大 013",
                "🇨🇦 加拿大 014",
                "🇨🇦 加拿大 015",
                "🇨🇦 加拿大 019",
                "🇨🇦 加拿大 020",
                "🇨🇦 加拿大 021",
                "🇨🇦 加拿大 022",
                "🇨🇦 加拿大 023",
                "🇨🇦 加拿大 024",
                "🇨🇦 加拿大 025",
                "🇨🇦 加拿大 026",
                "🇨🇦 加拿大 027",
                "🇨🇦 加拿大 028",
                "RU_youtube@资源分享师_174🇷🇺",
                "ChatGPT 🏁 ZZ_02",
                "ChatGPT 🏁 ZZ_03",
                "ChatGPT 🏁 ZZ_04",
                "ChatGPT 🏁 ZZ_05",
                "ChatGPT 🏁 ZZ_06",
                "ChatGPT 🏁 ZZ_07",
                "ChatGPT 🏁 ZZ_08",
                "ChatGPT 🏁 ZZ_09",
                "ChatGPT 🏁 ZZ_10",
                "🇦🇪 _AE_阿联酋-\u003e🇬🇧_GB_英国",
                "CA_speednode_0005🇨🇦",
                "HK_speednode_0062🇭🇰"
            ]
        },
        {
            "tag": "direct",
            "type": "direct"
        },
        {
            "tag": "block",
            "type": "block"
        },
        {
            "tag": "dns-out",
            "type": "dns"
        }
    ],
    "route": {
        "auto_detect_interface": false,
        "final": "select",
        "rule_set": [
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-geolocation-!cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-google",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-google.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-apple",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-apple.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-telegram.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-twitter",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-twitter.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-netflix.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblock",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblock.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblockplus",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblockplus.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adguard",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adguard.srs"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Global",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Global.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "YouTube",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/YouTube.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "OpenAI",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/OpenAI.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "TikTok",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/TikTok.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Telegram.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Netflix.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "WeChat",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/WeChat.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Bilibili",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Bilibili.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "GFW",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/gfw.json"
            }
        ],
        "rules": [
            {
                "outbound": "dns-out",
                "protocol": "dns"
            },
            {
                "clash_mode": "direct",
                "outbound": "direct"
            },
            {
                "clash_mode": "global",
                "outbound": "select"
            },
            {
                "outbound": "direct",
                "rule_set": "geoip-cn"
            },
            {
                "outbound": "🍎 苹果",
                "rule_set": "geoip-apple"
            },
            {
                "domain_suffix": [
                    "copilot.microsoft.com",
                    "gemini.google.com",
                    "claude.ai",
                    "chatgpt.com",
                    "bing.com",
                    "oaistatic.com",
                    "oaiusercontent.com"
                ],
                "outbound": "🤖 AI",
                "rule_set": "OpenAI"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "outbound": "direct"
            },
            {
                "outbound": "block",
                "protocol": "quic"
            },
            {
                "inbound": "socks-in",
                "outbound": "select"
            },
            {
                "outbound": "block",
                "rule_set": [
                    "geosite-adblock",
                    "geosite-adblockplus",
                    "geosite-adguard"
                ]
            },
            {
                "outbound": "direct",
                "rule_set": [
                    "WeChat",
                    "Bilibili"
                ]
            },
            {
                "domain_suffix": [
                    "depay.one",
                    "orbstack.dev"
                ],
                "outbound": "select"
            },
            {
                "domain": "accounts.google.com",
                "domain_suffix": [
                    "sourceforge.net",
                    "fhjasokiwq.com"
                ],
                "outbound": "select"
            },
            {
                "domain_suffix": "cloud.sealos.io",
                "outbound": "direct"
            },
            {
                "mode": "and",
                "outbound": "select",
                "rules": [
                    {
                        "rule_set": "geosite-geolocation-!cn"
                    },
                    {
                        "invert": true,
                        "rule_set": "geoip-cn"
                    }
                ],
                "type": "logical"
            },
            {
                "outbound": "select",
                "rule_set": "Global"
            },
            {
                "ip_is_private": true,
                "outbound": "direct"
            },
            {
                "outbound": "select",
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ]
            }
        ]
    }
}
