{
    "dns": {
        "final": "dns_proxy",
        "independent_cache": true,
        "rules": [
            {
                "outbound": "any",
                "server": "dns_resolver"
            },
            {
                "clash_mode": "direct",
                "server": "dns_direct"
            },
            {
                "clash_mode": "global",
                "server": "dns_proxy"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "server": "dns_direct"
            },
            {
                "rule_set": "geosite-geolocation-!cn",
                "server": "dns_proxy"
            },
            {
                "rule_set": "Global",
                "server": "dns_proxy"
            },
            {
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ],
                "server": "dns_proxy"
            }
        ],
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "select",
                "strategy": "ipv4_only",
                "tag": "dns_proxy"
            },
            {
                "address": "h3://dns.alidns.com/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_direct"
            },
            {
                "address": "rcode://refused",
                "tag": "dns_block"
            },
            {
                "address": "223.5.5.5",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_resolver"
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        },
        "clash_api": {
            "default_mode": "rule",
            "external_controller": "0.0.0.0:9090",
            "external_ui": "metacubexd",
            "external_ui_download_detour": "select",
            "external_ui_download_url": "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip",
            "secret": "password"
        }
    },
    "inbounds": [
        {
            "auto_route": true,
            "inet4_address": "172.19.0.1/30",
            "inet6_address": "fdfe:dcba:9876::1/126",
            "sniff": true,
            "stack": "mixed",
            "type": "tun"
        },
        {
            "listen": "::",
            "listen_port": 5353,
            "tag": "socks-in",
            "type": "socks"
        },
        {
            "listen": "0.0.0.0",
            "listen_port": 2080,
            "tag": "mixed-in",
            "type": "mixed"
        }
    ],
    "log": {
        "disabled": false,
        "level": "info",
        "timestamp": true
    },
    "ntp": {
        "detour": "direct",
        "enabled": true,
        "interval": "30m0s",
        "server": "time.apple.com",
        "server_port": 123
    },
    "outbounds": [
        {
            "tag": "select",
            "type": "selector",
            "default": "urltest",
            "outbounds": [
                "urltest",
                "AF_50🇸🇪",
                "AO_52🇺🇸",
                "AR_53🇦🇷",
                "0968ee1a07114c1ba8895ac6a334210c_@_🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
                "18128635a5f54552a9d172f28b5a3155_@_〽️17@oneclickvpnkeys",
                "3154d45b258843559c7d80dd5fc665aa_@_〽️15@oneclickvpnkeys",
                "3c7264f0a6734f8c8de544c37726f576_@_❗24@oneclickvpnkeys",
                "3f16ebda37ba40aba92cd4467b945388_@_🌙سرور های رایگان پرسرعت در کانال @serversiran11",
                "41033e87c3e74663bb215ea1ea3c4a92_@_(@VmessProtocol)برای خرید و اتصال دائمی جوین شو🇩🇪",
                "41e94fb7421e410e837e98ebf19494b1_@_〽️9@oneclickvpnkeys",
                "46a4469b4ed246ab93ac5b6e38ad0d5b_@_📳43@oneclickvpnkeys",
                "47101ad24174495f84bf51e2e53c2215_@_🟣🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
                "4831ca2bae234196a665a6200d5af9a6_@_📳57@oneclickvpnkeys",
                "4858df1b2c1c42b48ca8239168fe8573_@_❗20@oneclickvpnkeys",
                "48d372be78b14fe0b331590275e34fda_@_〽️11@oneclickvpnkeys",
                "4afb5fa48d3f48f49e0376928d7ee3b7_@_〽️3@oneclickvpnkeys",
                "557e63b6b2bd445b9d625300cc82bad9_@_〽️13@oneclickvpnkeys",
                "5b3f57456c594ea3b7a5dc829cebb7d9_@_📳61@oneclickvpnkeys",
                "6b2ae398acf745839f765dc6d0d9d744_@_TelegramID(@Outline_Vpn) 378🇺🇸",
                "🇨🇦 _CA_加拿大_1",
                "🇨🇦 _CA_加拿大_2",
                "🇩🇪 _DE_德国_1",
                "🇩🇪 _DE_德国_2",
                "🇩🇪 _DE_德国_3",
                "HK10🇭🇰",
                "HK11🇭🇰",
                "HK12🇭🇰",
                "HK13🇭🇰",
                "HK14🇭🇰",
                "HK15🇭🇰",
                "HK16🇭🇰",
                "HK17 1.4MB/s🇭🇰",
                "رایگان | VMESS | @ROMAX_VPN | BE🇧🇪 | 0️⃣1️⃣",
                "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣6️⃣",
                "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣7️⃣",
                "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣4️⃣",
                "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣5️⃣",
                "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧",
                "Armenia 1🇦🇲",
                "Turkiye 1🇺🇸",
                "Turkiye 2🇹🇷",
                "Turkiye 3🇹🇷",
                "Turkiye 4🇹🇷",
                "Turkiye 5🇹🇷"
            ]
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "121.127.46.147",
            "server_port": 989,
            "tag": "AF_50🇸🇪",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "3fbeb668f48414f6",
            "server": "104.167.197.23",
            "server_port": 57456,
            "tag": "AO_52🇺🇸",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "190.103.176.29",
            "server_port": 989,
            "tag": "AR_53🇦🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "server": "172.67.207.26",
            "server_port": 443,
            "tag": "0968ee1a07114c1ba8895ac6a334210c_@_🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
            "tls": {
                "enabled": true,
                "server_name": "glweidf.sbs"
            },
            "transport": {
                "path": "/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "76221bfb-e92f-4e80-81c5-6fe48f50ac0b"
        },
        {
            "server": "www.speedtest.net",
            "server_port": 80,
            "tag": "18128635a5f54552a9d172f28b5a3155_@_〽️17@oneclickvpnkeys",
            "transport": {
                "headers": {
                    "Host": [
                        "www.speedtest.net"
                    ]
                },
                "path": "/ed=2053",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "112c8c34-d4d1-4c22-b512-26175f7f02dc"
        },
        {
            "server": "104.21.15.36",
            "server_port": 443,
            "tag": "3154d45b258843559c7d80dd5fc665aa_@_〽️15@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "linde06.indiavideo.sbs"
            },
            "transport": {
                "path": "/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "edbb1059-1633-4271-b66e-ed4fba47a1bf"
        },
        {
            "server": "hk.wish.ml",
            "server_port": 2052,
            "tag": "3c7264f0a6734f8c8de544c37726f576_@_❗24@oneclickvpnkeys",
            "transport": {
                "headers": {
                    "Host": [
                        "hk.wish.ml"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "c286daa2-59de-455c-8de8-ec032b6ce2e8"
        },
        {
            "server": "188.114.97.3",
            "server_port": 80,
            "tag": "3f16ebda37ba40aba92cd4467b945388_@_🌙سرور های رایگان پرسرعت در کانال @serversiran11",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "ee6ab006-d7e7-4be8-87c6-2008718828ea"
        },
        {
            "server": "104.26.6.65",
            "server_port": 443,
            "tag": "41033e87c3e74663bb215ea1ea3c4a92_@_(@VmessProtocol)برای خرید و اتصال دائمی جوین شو🇩🇪",
            "tls": {
                "enabled": true,
                "server_name": "mikasa.yaemiko.cloudns.org"
            },
            "transport": {
                "path": "/ivideos.sbs/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "441da342-ce90-441e-bff9-d2ceb55e68ca"
        },
        {
            "server": "188.114.97.3",
            "server_port": 443,
            "tag": "41e94fb7421e410e837e98ebf19494b1_@_〽️9@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "de2.v2vmess.site"
            },
            "transport": {
                "path": "/vmess @hopev2ray ed=2048",
                "type": "ws"
            },
            "type": "vmess",
            "security": "none",
            "uuid": "f811722f-6aea-4dde-8f56-c6aaaac82059"
        },
        {
            "server": "172.67.164.78",
            "server_port": 2052,
            "tag": "46a4469b4ed246ab93ac5b6e38ad0d5b_@_📳43@oneclickvpnkeys",
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "c286daa2-59de-455c-8de8-ec032b6ce2e8"
        },
        {
            "server": "185.146.173.94",
            "server_port": 2082,
            "tag": "47101ad24174495f84bf51e2e53c2215_@_🟣🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
            "transport": {
                "path": "/@mehrosaboran",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "01e96bef-1430-4461-bd10-0e54d1f103b5"
        },
        {
            "server": "caretaker.com",
            "server_port": 443,
            "tag": "4831ca2bae234196a665a6200d5af9a6_@_📳57@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "mikasa.yaemiko.cloudns.org"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "caretaker.com"
                    ]
                },
                "path": "/ivideos.sbs/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "441da342-ce90-441e-bff9-d2ceb55e68ca"
        },
        {
            "server": "104.21.25.31",
            "server_port": 443,
            "tag": "4858df1b2c1c42b48ca8239168fe8573_@_❗20@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "nl2.vmess.site"
            },
            "transport": {
                "path": "/vmess",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "e7854e51-e39e-42b0-ad7e-bdd606592236"
        },
        {
            "server": "172.67.164.164",
            "server_port": 443,
            "tag": "48d372be78b14fe0b331590275e34fda_@_〽️11@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "afrhms07.xfixedfloat.cfd"
            },
            "transport": {
                "path": "/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "a1655f51-1e20-4a92-8a11-b7ca30a7a353"
        },
        {
            "server": "185.146.173.55",
            "server_port": 80,
            "tag": "4afb5fa48d3f48f49e0376928d7ee3b7_@_〽️3@oneclickvpnkeys",
            "transport": {
                "path": "/vmess",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "7d455002-6427-476e-b7a0-4be4f2afa721"
        },
        {
            "server": "hms07.xfixedfloat.cfd",
            "server_port": 443,
            "tag": "557e63b6b2bd445b9d625300cc82bad9_@_〽️13@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "afrhms07.xfixedfloat.cfd"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "hms07.xfixedfloat.cfd"
                    ]
                },
                "path": "/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "a1655f51-1e20-4a92-8a11-b7ca30a7a353"
        },
        {
            "server": "zula.ir",
            "server_port": 443,
            "tag": "5b3f57456c594ea3b7a5dc829cebb7d9_@_📳61@oneclickvpnkeys",
            "tls": {
                "enabled": true,
                "server_name": "de3.v2vmess.site"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "zula.ir"
                    ]
                },
                "path": "/vmess",
                "type": "ws"
            },
            "type": "vmess",
            "security": "none",
            "uuid": "f5f123f8-123e-40bf-b1c1-1c9f0c3dcfbd"
        },
        {
            "server": "172.67.170.103",
            "server_port": 443,
            "tag": "6b2ae398acf745839f765dc6d0d9d744_@_TelegramID(@Outline_Vpn) 378🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "glweidf.sbs"
            },
            "transport": {
                "path": "/linkws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "76221bfb-e92f-4e80-81c5-6fe48f50ac0b"
        },
        {
            "password": "3e2290c5-332f-4bbe-8efb-05d4addc095b",
            "server": "91.194.11.168",
            "server_port": 443,
            "tag": "🇨🇦 _CA_加拿大_1",
            "tls": {
                "enabled": true,
                "server_name": "91.194.11.168",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "server": "ca-full.privateip.net",
            "server_port": 443,
            "tag": "🇨🇦 _CA_加拿大_2",
            "tls": {
                "enabled": true,
                "server_name": "ca-full.privateip.net",
                "insecure": true
            },
            "transport": {
                "headers": {
                    "Host": [
                        "ca-full.privateip.net"
                    ]
                },
                "path": "/RACEVPN",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "04672bf7-9d44-4edf-9222-dfbfb8f74a1f"
        },
        {
            "password": "rpgbNnU9rDDU4aWZ",
            "server": "80.92.204.106",
            "server_port": 9094,
            "tag": "🇩🇪 _DE_德国_1",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "a3GFYt36Sm82Vys9",
            "server": "80.92.204.106",
            "server_port": 9000,
            "tag": "🇩🇪 _DE_德国_2",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "M3t2ZEQcMGRWBjRa",
            "server": "80.92.204.106",
            "server_port": 9011,
            "tag": "🇩🇪 _DE_德国_3",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "299025b9-6b55-430c-be38-9a18c06873ac",
            "server": "91.199.84.57",
            "server_port": 12034,
            "tag": "HK10🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "china3.one.edu.kg",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "8d1e94cd-23cf-4267-b630-c6894e6e1b4d",
            "server": "20.2.161.199",
            "server_port": 443,
            "tag": "HK11🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "20.2.161.199",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.187",
            "server_port": 56012,
            "tag": "HK12🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56032,
            "tag": "HK13🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56047,
            "tag": "HK14🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "AHyDyR",
            "server": "38.150.12.188",
            "server_port": 56026,
            "tag": "HK15🇭🇰",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "210.3.159.224",
            "server_port": 12909,
            "tag": "HK16🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "210.3.159.224",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "8259cb1c-dd6c-4739-9c88-af550d977525"
        },
        {
            "password": "a-wym4ovY4Yw",
            "server": "47.242.87.55",
            "server_port": 81,
            "tag": "HK17 1.4MB/s🇭🇰",
            "type": "shadowsocks",
            "method": "aes-128-gcm",
            "network": "tcp"
        },
        {
            "server": "188.114.97.2",
            "server_port": 443,
            "tag": "رایگان | VMESS | @ROMAX_VPN | BE🇧🇪 | 0️⃣1️⃣",
            "tls": {
                "enabled": true,
                "server_name": "be2-vmess.sshmax.xyz"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "be2-vmess.sshmax.xyz"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "6d9911b0-4e14-44fb-8883-52d14f550cca"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "52.212.244.246",
            "server_port": 22222,
            "tag": "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣6️⃣",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk"
            },
            "type": "trojan"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "52.51.91.35",
            "server_port": 22222,
            "tag": "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣7️⃣",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk"
            },
            "type": "trojan"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "16.170.117.62",
            "server_port": 22222,
            "tag": "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣4️⃣",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk"
            },
            "type": "trojan"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "51.20.21.253",
            "server_port": 22222,
            "tag": "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣5️⃣",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk"
            },
            "type": "trojan"
        },
        {
            "server": "146.59.17.58",
            "server_port": 12960,
            "tag": "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧",
            "type": "vmess",
            "security": "auto",
            "uuid": "48a86563-63c5-4218-e887-d752f801ae82"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "146.185.248.22",
            "server_port": 989,
            "tag": "Armenia 1🇦🇲",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "4e0f0b6d-8164-4b4b-99be-1f7ad19c7600",
            "server": "tr-full.privateip.net",
            "server_port": 443,
            "tag": "Turkiye 1🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "tr-full.privateip.net"
            },
            "type": "trojan"
        },
        {
            "password": "TN2YqghxeFDKZfLU",
            "server": "45.89.52.66",
            "server_port": 9037,
            "tag": "Turkiye 2🇹🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.123.101.241",
            "server_port": 989,
            "tag": "Turkiye 3🇹🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "BwcAUZk8hUFAkDGN",
            "server": "45.89.52.66",
            "server_port": 9031,
            "tag": "Turkiye 4🇹🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "S7KwUu7yBy58S3Ga",
            "server": "45.89.52.66",
            "server_port": 9042,
            "tag": "Turkiye 5🇹🇷",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "tag": "urltest",
            "type": "urltest",
            "outbounds": [
                "AF_50🇸🇪",
                "AO_52🇺🇸",
                "AR_53🇦🇷",
                "0968ee1a07114c1ba8895ac6a334210c_@_🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
                "18128635a5f54552a9d172f28b5a3155_@_〽️17@oneclickvpnkeys",
                "3154d45b258843559c7d80dd5fc665aa_@_〽️15@oneclickvpnkeys",
                "3c7264f0a6734f8c8de544c37726f576_@_❗24@oneclickvpnkeys",
                "3f16ebda37ba40aba92cd4467b945388_@_🌙سرور های رایگان پرسرعت در کانال @serversiran11",
                "41033e87c3e74663bb215ea1ea3c4a92_@_(@VmessProtocol)برای خرید و اتصال دائمی جوین شو🇩🇪",
                "41e94fb7421e410e837e98ebf19494b1_@_〽️9@oneclickvpnkeys",
                "46a4469b4ed246ab93ac5b6e38ad0d5b_@_📳43@oneclickvpnkeys",
                "47101ad24174495f84bf51e2e53c2215_@_🟣🔥 کانال سرور اختصاصی با سرعت بالا تضمینی @Outlinev_2rayNG",
                "4831ca2bae234196a665a6200d5af9a6_@_📳57@oneclickvpnkeys",
                "4858df1b2c1c42b48ca8239168fe8573_@_❗20@oneclickvpnkeys",
                "48d372be78b14fe0b331590275e34fda_@_〽️11@oneclickvpnkeys",
                "4afb5fa48d3f48f49e0376928d7ee3b7_@_〽️3@oneclickvpnkeys",
                "557e63b6b2bd445b9d625300cc82bad9_@_〽️13@oneclickvpnkeys",
                "5b3f57456c594ea3b7a5dc829cebb7d9_@_📳61@oneclickvpnkeys",
                "6b2ae398acf745839f765dc6d0d9d744_@_TelegramID(@Outline_Vpn) 378🇺🇸",
                "🇨🇦 _CA_加拿大_1",
                "🇨🇦 _CA_加拿大_2",
                "🇩🇪 _DE_德国_1",
                "🇩🇪 _DE_德国_2",
                "🇩🇪 _DE_德国_3",
                "HK10🇭🇰",
                "HK11🇭🇰",
                "HK12🇭🇰",
                "HK13🇭🇰",
                "HK14🇭🇰",
                "HK15🇭🇰",
                "HK16🇭🇰",
                "HK17 1.4MB/s🇭🇰",
                "رایگان | VMESS | @ROMAX_VPN | BE🇧🇪 | 0️⃣1️⃣",
                "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣6️⃣",
                "رایگان | TROJAN | @PrivateVPNs | IE🇮🇪 | 0️⃣7️⃣",
                "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣4️⃣",
                "رایگان | TROJAN | @PrivateVPNs | SE🇸🇪 | 0️⃣5️⃣",
                "13|%F0%9F%87%B5%F0%9F%87%B1%20Pol...🇬🇧",
                "Armenia 1🇦🇲",
                "Turkiye 1🇺🇸",
                "Turkiye 2🇹🇷",
                "Turkiye 3🇹🇷",
                "Turkiye 4🇹🇷",
                "Turkiye 5🇹🇷"
            ]
        },
        {
            "tag": "direct",
            "type": "direct"
        },
        {
            "tag": "block",
            "type": "block"
        },
        {
            "tag": "dns-out",
            "type": "dns"
        }
    ],
    "route": {
        "auto_detect_interface": false,
        "final": "select",
        "rule_set": [
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-geolocation-!cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-google",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-google.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-apple",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-apple.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-telegram.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-twitter",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-twitter.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-netflix.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblock",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblock.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblockplus",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblockplus.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adguard",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adguard.srs"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Global",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Global.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "YouTube",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/YouTube.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "OpenAI",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/OpenAI.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "TikTok",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/TikTok.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Telegram.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Netflix.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "WeChat",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/WeChat.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Bilibili",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Bilibili.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "GFW",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/gfw.json"
            }
        ],
        "rules": [
            {
                "outbound": "dns-out",
                "protocol": "dns"
            },
            {
                "clash_mode": "direct",
                "outbound": "direct"
            },
            {
                "clash_mode": "global",
                "outbound": "select"
            },
            {
                "outbound": "direct",
                "rule_set": "geoip-cn"
            },
            {
                "outbound": "🍎 苹果",
                "rule_set": "geoip-apple"
            },
            {
                "domain_suffix": [
                    "copilot.microsoft.com",
                    "gemini.google.com",
                    "claude.ai",
                    "chatgpt.com",
                    "bing.com",
                    "oaistatic.com",
                    "oaiusercontent.com"
                ],
                "outbound": "🤖 AI",
                "rule_set": "OpenAI"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "outbound": "direct"
            },
            {
                "outbound": "block",
                "protocol": "quic"
            },
            {
                "inbound": "socks-in",
                "outbound": "select"
            },
            {
                "outbound": "block",
                "rule_set": [
                    "geosite-adblock",
                    "geosite-adblockplus",
                    "geosite-adguard"
                ]
            },
            {
                "outbound": "direct",
                "rule_set": [
                    "WeChat",
                    "Bilibili"
                ]
            },
            {
                "domain_suffix": [
                    "depay.one",
                    "orbstack.dev"
                ],
                "outbound": "select"
            },
            {
                "domain": "accounts.google.com",
                "domain_suffix": [
                    "sourceforge.net",
                    "fhjasokiwq.com"
                ],
                "outbound": "select"
            },
            {
                "domain_suffix": "cloud.sealos.io",
                "outbound": "direct"
            },
            {
                "mode": "and",
                "outbound": "select",
                "rules": [
                    {
                        "rule_set": "geosite-geolocation-!cn"
                    },
                    {
                        "invert": true,
                        "rule_set": "geoip-cn"
                    }
                ],
                "type": "logical"
            },
            {
                "outbound": "select",
                "rule_set": "Global"
            },
            {
                "ip_is_private": true,
                "outbound": "direct"
            },
            {
                "outbound": "select",
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ]
            }
        ]
    }
}
