{
    "dns": {
        "final": "dns_proxy",
        "independent_cache": true,
        "rules": [
            {
                "outbound": "any",
                "server": "dns_resolver"
            },
            {
                "clash_mode": "direct",
                "server": "dns_direct"
            },
            {
                "clash_mode": "global",
                "server": "dns_proxy"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "server": "dns_direct"
            },
            {
                "rule_set": "geosite-geolocation-!cn",
                "server": "dns_proxy"
            },
            {
                "rule_set": "Global",
                "server": "dns_proxy"
            },
            {
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ],
                "server": "dns_proxy"
            }
        ],
        "servers": [
            {
                "address": "https://1.1.1.1/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "select",
                "strategy": "ipv4_only",
                "tag": "dns_proxy"
            },
            {
                "address": "h3://dns.alidns.com/dns-query",
                "address_resolver": "dns_resolver",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_direct"
            },
            {
                "address": "rcode://refused",
                "tag": "dns_block"
            },
            {
                "address": "223.5.5.5",
                "detour": "direct",
                "strategy": "ipv4_only",
                "tag": "dns_resolver"
            }
        ]
    },
    "experimental": {
        "cache_file": {
            "enabled": true
        },
        "clash_api": {
            "default_mode": "rule",
            "external_controller": "0.0.0.0:9090",
            "external_ui": "metacubexd",
            "external_ui_download_detour": "select",
            "external_ui_download_url": "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip",
            "secret": "password"
        }
    },
    "inbounds": [
        {
            "auto_route": true,
            "inet4_address": "172.19.0.1/30",
            "inet6_address": "fdfe:dcba:9876::1/126",
            "sniff": true,
            "stack": "mixed",
            "type": "tun"
        },
        {
            "listen": "::",
            "listen_port": 5353,
            "tag": "socks-in",
            "type": "socks"
        },
        {
            "listen": "0.0.0.0",
            "listen_port": 2080,
            "tag": "mixed-in",
            "type": "mixed"
        }
    ],
    "log": {
        "disabled": false,
        "level": "info",
        "timestamp": true
    },
    "ntp": {
        "detour": "direct",
        "enabled": true,
        "interval": "30m0s",
        "server": "time.apple.com",
        "server_port": 123
    },
    "outbounds": [
        {
            "tag": "select",
            "type": "selector",
            "default": "urltest",
            "outbounds": [
                "urltest",
                "HKLite🌍",
                "HKLite2🇺🇸",
                "HKLite3🇺🇸",
                "CA_10 |31.31Mb🇨🇦",
                "CA_11 |21.43Mb🇨🇦",
                "CH |53.71Mb🇨🇭",
                "CO_13 | 2.57Mb🇺🇸",
                "DE_15🇩🇪",
                "DE_16🇩🇪",
                "DE_17 |189.87Mb🇩🇪",
                "FR_18🇫🇷",
                "FR_19🇫🇷",
                "FR_20🇫🇷",
                "FR_21🇫🇷",
                "FR_22🇫🇷",
                "FR_23🇫🇷",
                "FR_24🇫🇷",
                "FR_25🇫🇷",
                "FR_26🇫🇷",
                "FR_27🇫🇷",
                "FR_28🇫🇷",
                "FR_29🇫🇷",
                "FR_30🇫🇷",
                "FR_31🇫🇷",
                "FR_32🇫🇷",
                "FR_33🇫🇷",
                "FR_34🇫🇷",
                "FR_35🇫🇷",
                "FR_36🇫🇷",
                "FR_37🇫🇷",
                "FR_38🇫🇷",
                "FR_39🇫🇷",
                "FR_40🇫🇷",
                "FR_41🇫🇷",
                "FR_42🇫🇷",
                "GB_53 |550.65Mb🇬🇧",
                "HK_54 |10.36Mb🇭🇰",
                "未知_121320001🌍",
                "未知_121320002🌍",
                "未知_121320003🌍",
                "未知_121320004🌍",
                "未知_121320005🌍",
                "未知_121320006🌍",
                "未知_121320007🇺🇸",
                "🇨🇳 中国 阿里云",
                "🇨🇳 台湾省 中华电信(HiNet)数据中心",
                "AE-40.120.103.192-0761 | 21.63MB🇦🇪",
                "AL-31.171.153.181-0748 | 28.696MB🇦🇱",
                "AT-185.180.12.81-0718 | 33.213MB🇦🇹",
                "BA-185.164.35.9-0756 | 13.854MB🇧🇦",
                "CH-156.146.62.160-0726 | 33.662MB🇨🇭",
                "BD_1327 | 6.34Mb🇰🇿",
                "CA_1330 | 7.59Mb🇨🇦",
                "CA_1331 |18.76Mb🇨🇦",
                "CA_1332🇺🇸",
                "CA_1333 | 8.08Mb🇨🇦",
                "CA_1334 | 8.09Mb🇨🇦",
                "CA_1335 | 3.80Mb🇨🇦",
                "CA_1336 | 8.14Mb🇨🇦",
                "CA_1337 | 3.66Mb🇨🇦",
                "CA_1338 | 3.91Mb🇨🇦",
                "CA_1339 | 3.53Mb🇨🇦",
                "CA_1340 | 4.00Mb🇨🇦",
                "CA_1341 |17.81Mb🇨🇦",
                "CA_1342 | 3.58Mb🇨🇦",
                "CA_1343 | 4.50Mb🇨🇦",
                "CA_1344 | 8.24Mb🇨🇦",
                "CA_1345 | 8.12Mb🇨🇦",
                "CA_1346 |19.19Mb🇨🇦",
                "CA_1347 | 7.49Mb🇨🇦",
                "CA_1348 | 6.29Mb🇨🇦",
                "CA_1349 |19.72Mb🇨🇦",
                "CA_1350 | 7.16Mb🇨🇦",
                "CA_1351 | 6.92Mb🇨🇦",
                "CA_1353 | 6.29Mb🇨🇦",
                "CA_1354 |10.01Mb🇨🇦",
                "CA_1355 |19.77Mb🇨🇦",
                "CA_1356 | 6.22Mb🇨🇦",
                "CA_1357 | 7.96Mb🇨🇦",
                "CA_1358 | 3.58Mb🇨🇦",
                "CA_1359 | 4.16Mb🇨🇦",
                "CA_1360 | 4.45Mb🇨🇦",
                "CA_1361 | 7.11Mb🇨🇦",
                "CA_1362 | 3.44Mb🇨🇦",
                "套餐到期：2024-06-18🇺🇸"
            ]
        },
        {
            "server": "cf1.go-relay.top",
            "server_port": 80,
            "tag": "HKLite🌍",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf2.go-relay.top",
            "server_port": 80,
            "tag": "HKLite2🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "cf3.go-relay.top",
            "server_port": 80,
            "tag": "HKLite3🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "cf1.go-relay.top"
                    ]
                },
                "path": "/ws?ed=2560",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "dbfc85d7-a9e7-465a-ba53-3bf9f5e66ba5"
        },
        {
            "server": "167.114.90.198",
            "server_port": 50577,
            "tag": "CA_10 |31.31Mb🇨🇦",
            "type": "vmess",
            "security": "auto",
            "uuid": "132b0296-e304-45a6-b045-4cdf0902e2b7"
        },
        {
            "server": "158.51.121.36",
            "server_port": 443,
            "tag": "CA_11 |21.43Mb🇨🇦",
            "tls": {
                "enabled": true,
                "server_name": "158.51.121.36",
                "insecure": true
            },
            "transport": {
                "path": "/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "password": "YNewlpyKqjdNyOIoyhPw8k",
            "server": "51.103.174.155",
            "server_port": 7660,
            "tag": "CH |53.71Mb🇨🇭",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "server": "zula.ir",
            "server_port": 80,
            "tag": "CO_13 | 2.57Mb🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "zula.ir"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "3fd9190e-a132-42ca-a33b-4a37b4b3e0cd"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "18.199.213.117",
            "server_port": 22222,
            "tag": "DE_15🇩🇪",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "18.194.59.192",
            "server_port": 22222,
            "tag": "DE_16🇩🇪",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "telegram-id-directvpn",
            "server": "3.72.153.43",
            "server_port": 22222,
            "tag": "DE_17 |189.87Mb🇩🇪",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "149.202.82.172",
            "server_port": 5003,
            "tag": "FR_18🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "149.202.82.172",
            "server_port": 6697,
            "tag": "FR_19🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "RexnBgU7EV5ADxG",
            "server": "149.202.82.172",
            "server_port": 7001,
            "tag": "FR_20🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "149.202.82.172",
            "server_port": 443,
            "tag": "FR_21🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 8888,
            "tag": "FR_22🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "149.202.82.172",
            "server_port": 8882,
            "tag": "FR_23🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "e4FCWrgpkji3QY",
            "server": "149.202.82.172",
            "server_port": 9101,
            "tag": "FR_24🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 3389,
            "tag": "FR_25🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "FoOiGlkAA9yPEGP",
            "server": "149.202.82.172",
            "server_port": 7307,
            "tag": "FR_26🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 8000,
            "tag": "FR_27🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 3306,
            "tag": "FR_28🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "149.202.82.172",
            "server_port": 8080,
            "tag": "FR_29🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "149.202.82.172",
            "server_port": 8008,
            "tag": "FR_30🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "149.202.82.172",
            "server_port": 2375,
            "tag": "FR_31🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "zDNVedRFPQexG9v",
            "server": "149.202.82.172",
            "server_port": 6379,
            "tag": "FR_32🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "149.202.82.172",
            "server_port": 8881,
            "tag": "FR_33🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "149.202.82.172",
            "server_port": 2376,
            "tag": "FR_34🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "RexnBgU7EV5ADxG",
            "server": "149.202.82.172",
            "server_port": 7002,
            "tag": "FR_35🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 5601,
            "tag": "FR_36🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "149.202.82.172",
            "server_port": 8091,
            "tag": "FR_37🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "149.202.82.172",
            "server_port": 8118,
            "tag": "FR_38🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "149.202.82.172",
            "server_port": 5600,
            "tag": "FR_39🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "149.202.82.172",
            "server_port": 8119,
            "tag": "FR_40🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "e4FCWrgpkji3QY",
            "server": "149.202.82.172",
            "server_port": 9102,
            "tag": "FR_41🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "FoOiGlkAA9yPEGP",
            "server": "149.202.82.172",
            "server_port": 7306,
            "tag": "FR_42🇫🇷",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "telegram-id-privatevpns",
            "server": "3.9.119.160",
            "server_port": 22222,
            "tag": "GB_53 |550.65Mb🇬🇧",
            "tls": {
                "enabled": true,
                "server_name": "trojan.burgerip.co.uk",
                "insecure": true
            },
            "type": "trojan"
        },
        {
            "server": "210.3.159.224",
            "server_port": 12909,
            "tag": "HK_54 |10.36Mb🇭🇰",
            "tls": {
                "enabled": true,
                "server_name": "210.3.159.224",
                "insecure": true
            },
            "transport": {
                "path": "/",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "8259cb1c-dd6c-4739-9c88-af550d977525"
        },
        {
            "server": "2876be99-f.3nvx.com",
            "server_port": 443,
            "tag": "未知_121320001🌍",
            "tls": {
                "enabled": true,
                "server_name": "2876be99-f.3nvx.com"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "2876be99-f.3nvx.com"
                    ]
                },
                "path": "/assets",
                "type": "ws"
            },
            "type": "vmess",
            "alter_id": 1,
            "security": "auto",
            "uuid": "74dd674d-35fa-4f75-8b05-0f276e15c091"
        },
        {
            "server": "104.21.53.12",
            "server_port": 443,
            "tag": "未知_121320002🌍",
            "tls": {
                "enabled": true,
                "server_name": "104.21.53.12"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "ophelia.mom"
                    ]
                },
                "path": "linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "alter_id": 1,
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "104.21.36.26",
            "server_port": 8443,
            "tag": "未知_121320003🌍",
            "tls": {
                "enabled": true,
                "server_name": "104.21.36.26"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "cloudconeaaa.gorgorchicken.one"
                    ]
                },
                "path": "/cloudconeaaa",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "1cec1ebc-b489-4769-f2d9-e079b5832a60"
        },
        {
            "server": "104.21.31.183",
            "server_port": 443,
            "tag": "未知_121320004🌍",
            "tls": {
                "enabled": true,
                "server_name": "104.21.31.183"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "octavi.cfd"
                    ]
                },
                "path": "linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "alter_id": 1,
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "104.21.91.254",
            "server_port": 443,
            "tag": "未知_121320005🌍",
            "tls": {
                "enabled": true,
                "server_name": "104.21.91.254"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "waynn.makeup"
                    ]
                },
                "path": "linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "104.21.75.246",
            "server_port": 443,
            "tag": "未知_121320006🌍",
            "tls": {
                "enabled": true,
                "server_name": "104.21.75.246"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "cf.tonyluk.link"
                    ]
                },
                "path": "/ophelia.mom:443/linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "server": "octavi.cfd",
            "server_port": 443,
            "tag": "未知_121320007🇺🇸",
            "tls": {
                "enabled": true,
                "server_name": "octavi.cfd"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "octavi.cfd"
                    ]
                },
                "path": "linkvws",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "03fcc618-b93d-6796-6aed-8a38c975d581"
        },
        {
            "password": "NISHIKUITAN222",
            "server": "8.219.177.205",
            "server_port": 2053,
            "tag": "🇨🇳 中国 阿里云",
            "tls": {
                "enabled": true,
                "server_name": "t306.ylks.link"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "t306.ylks.link"
                    ]
                },
                "path": "/",
                "type": "ws"
            },
            "type": "trojan"
        },
        {
            "password": "moist",
            "server": "118.163.128.81",
            "server_port": 13688,
            "tag": "🇨🇳 台湾省 中华电信(HiNet)数据中心",
            "tls": {
                "enabled": true,
                "server_name": "trojan.freenods.sbs"
            },
            "transport": {
                "headers": {
                    "Host": [
                        "trojan.freenods.sbs"
                    ]
                },
                "path": "/?ed=2560",
                "type": "ws"
            },
            "type": "trojan"
        },
        {
            "password": "u17T3BvpYaaiuW2c",
            "server": "series-a2-mec.samanehha.co",
            "server_port": 443,
            "tag": "AE-40.120.103.192-0761 | 21.63MB🇦🇪",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "31.171.153.181",
            "server_port": 989,
            "tag": "AL-31.171.153.181-0748 | 28.696MB🇦🇱",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.180.12.81",
            "server_port": 989,
            "tag": "AT-185.180.12.81-0718 | 33.213MB🇦🇹",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "f8f7aCzcPKbsF8p3",
            "server": "185.164.35.9",
            "server_port": 989,
            "tag": "BA-185.164.35.9-0756 | 13.854MB🇧🇦",
            "type": "shadowsocks",
            "method": "aes-256-cfb",
            "network": "tcp"
        },
        {
            "password": "shadowsocks",
            "server": "156.146.62.160",
            "server_port": 443,
            "tag": "CH-156.146.62.160-0726 | 33.662MB🇨🇭",
            "type": "shadowsocks",
            "method": "aes-128-cfb",
            "network": "tcp"
        },
        {
            "password": "7RZZuVa80DAJIeBmdArVMt",
            "server": "103.106.3.170",
            "server_port": 27179,
            "tag": "BD_1327 | 6.34Mb🇰🇿",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "38.111.114.133",
            "server_port": 8009,
            "tag": "CA_1330 | 7.59Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "134.195.196.178",
            "server_port": 800,
            "tag": "CA_1331 |18.76Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "oZIoA69Q8yhcQV8ka3Pa3A",
            "server": "beecomf.xyz",
            "server_port": 8080,
            "tag": "CA_1332🇺🇸",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "lGqs95QkFHo2NV",
            "server": "38.111.114.133",
            "server_port": 5498,
            "tag": "CA_1333 | 8.08Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "kDWvXYZoTBcGkC4",
            "server": "38.111.114.133",
            "server_port": 8881,
            "tag": "CA_1334 | 8.09Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "38.111.114.133",
            "server_port": 5004,
            "tag": "CA_1335 | 3.80Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "lGqs95QkFHo2NV",
            "server": "38.111.114.133",
            "server_port": 5499,
            "tag": "CA_1336 | 8.14Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "zDNVedRFPQexG9v",
            "server": "38.111.114.133",
            "server_port": 445,
            "tag": "CA_1337 | 3.66Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "PCnnH6SQSnfoS27",
            "server": "38.111.114.133",
            "server_port": 8091,
            "tag": "CA_1338 | 3.91Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "g5MeD6Ft3CWlJId",
            "server": "38.111.114.133",
            "server_port": 5003,
            "tag": "CA_1339 | 3.53Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "e4FCWrgpkji3QY",
            "server": "38.111.114.133",
            "server_port": 9102,
            "tag": "CA_1340 | 4.00Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "134.195.196.178",
            "server_port": 809,
            "tag": "CA_1341 |17.81Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "38.111.114.133",
            "server_port": 8080,
            "tag": "CA_1342 | 3.58Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 5601,
            "tag": "CA_1343 | 4.50Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "38.111.114.133",
            "server_port": 443,
            "tag": "CA_1344 | 8.24Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 5001,
            "tag": "CA_1345 | 8.12Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "134.195.196.178",
            "server_port": 806,
            "tag": "CA_1346 |19.19Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "RexnBgU7EV5ADxG",
            "server": "38.111.114.133",
            "server_port": 7001,
            "tag": "CA_1347 | 7.49Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "FoOiGlkAA9yPEGP",
            "server": "38.111.114.133",
            "server_port": 7307,
            "tag": "CA_1348 | 6.29Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "134.195.196.178",
            "server_port": 807,
            "tag": "CA_1349 |19.72Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "TEzjfAYq2IjtuoS",
            "server": "38.111.114.133",
            "server_port": 6679,
            "tag": "CA_1350 | 7.16Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 3306,
            "tag": "CA_1351 | 6.92Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "pKEW8JPByTVTLtM",
            "server": "38.111.114.133",
            "server_port": 4444,
            "tag": "CA_1353 | 6.29Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "38.111.114.133",
            "server_port": 8000,
            "tag": "CA_1354 |10.01Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "G!yBwPWH3Vao",
            "server": "134.195.196.178",
            "server_port": 812,
            "tag": "CA_1355 |19.77Mb🇨🇦",
            "type": "shadowsocks",
            "method": "chacha20-ietf-poly1305",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 5000,
            "tag": "CA_1356 | 6.22Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "Y6R9pAtvxxzmGC",
            "server": "38.111.114.133",
            "server_port": 8888,
            "tag": "CA_1357 | 7.96Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "38.111.114.133",
            "server_port": 2376,
            "tag": "CA_1358 | 3.58Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "cdBIDV42DCwnfIN",
            "server": "38.111.114.133",
            "server_port": 8118,
            "tag": "CA_1359 | 4.16Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "XKFKl2rULjIp74",
            "server": "38.111.114.133",
            "server_port": 8008,
            "tag": "CA_1360 | 4.45Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "KixLvKzwjekG00rm",
            "server": "38.111.114.133",
            "server_port": 5500,
            "tag": "CA_1361 | 7.11Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "password": "faBAoD54k87UJG7",
            "server": "38.111.114.133",
            "server_port": 2375,
            "tag": "CA_1362 | 3.44Mb🇨🇦",
            "type": "shadowsocks",
            "method": "aes-256-gcm",
            "network": "tcp"
        },
        {
            "server": "vip1.hpyjc.top",
            "server_port": 2086,
            "tag": "套餐到期：2024-06-18🇺🇸",
            "transport": {
                "headers": {
                    "Host": [
                        "jp1.hpyjc.top"
                    ]
                },
                "path": "/?ed=2048",
                "type": "ws"
            },
            "type": "vmess",
            "security": "auto",
            "uuid": "3f8dd6c6-c8ad-49f0-a102-31769b1efb77"
        },
        {
            "tag": "urltest",
            "type": "urltest",
            "outbounds": [
                "HKLite🌍",
                "HKLite2🇺🇸",
                "HKLite3🇺🇸",
                "CA_10 |31.31Mb🇨🇦",
                "CA_11 |21.43Mb🇨🇦",
                "CH |53.71Mb🇨🇭",
                "CO_13 | 2.57Mb🇺🇸",
                "DE_15🇩🇪",
                "DE_16🇩🇪",
                "DE_17 |189.87Mb🇩🇪",
                "FR_18🇫🇷",
                "FR_19🇫🇷",
                "FR_20🇫🇷",
                "FR_21🇫🇷",
                "FR_22🇫🇷",
                "FR_23🇫🇷",
                "FR_24🇫🇷",
                "FR_25🇫🇷",
                "FR_26🇫🇷",
                "FR_27🇫🇷",
                "FR_28🇫🇷",
                "FR_29🇫🇷",
                "FR_30🇫🇷",
                "FR_31🇫🇷",
                "FR_32🇫🇷",
                "FR_33🇫🇷",
                "FR_34🇫🇷",
                "FR_35🇫🇷",
                "FR_36🇫🇷",
                "FR_37🇫🇷",
                "FR_38🇫🇷",
                "FR_39🇫🇷",
                "FR_40🇫🇷",
                "FR_41🇫🇷",
                "FR_42🇫🇷",
                "GB_53 |550.65Mb🇬🇧",
                "HK_54 |10.36Mb🇭🇰",
                "未知_121320001🌍",
                "未知_121320002🌍",
                "未知_121320003🌍",
                "未知_121320004🌍",
                "未知_121320005🌍",
                "未知_121320006🌍",
                "未知_121320007🇺🇸",
                "🇨🇳 中国 阿里云",
                "🇨🇳 台湾省 中华电信(HiNet)数据中心",
                "AE-40.120.103.192-0761 | 21.63MB🇦🇪",
                "AL-31.171.153.181-0748 | 28.696MB🇦🇱",
                "AT-185.180.12.81-0718 | 33.213MB🇦🇹",
                "BA-185.164.35.9-0756 | 13.854MB🇧🇦",
                "CH-156.146.62.160-0726 | 33.662MB🇨🇭",
                "BD_1327 | 6.34Mb🇰🇿",
                "CA_1330 | 7.59Mb🇨🇦",
                "CA_1331 |18.76Mb🇨🇦",
                "CA_1332🇺🇸",
                "CA_1333 | 8.08Mb🇨🇦",
                "CA_1334 | 8.09Mb🇨🇦",
                "CA_1335 | 3.80Mb🇨🇦",
                "CA_1336 | 8.14Mb🇨🇦",
                "CA_1337 | 3.66Mb🇨🇦",
                "CA_1338 | 3.91Mb🇨🇦",
                "CA_1339 | 3.53Mb🇨🇦",
                "CA_1340 | 4.00Mb🇨🇦",
                "CA_1341 |17.81Mb🇨🇦",
                "CA_1342 | 3.58Mb🇨🇦",
                "CA_1343 | 4.50Mb🇨🇦",
                "CA_1344 | 8.24Mb🇨🇦",
                "CA_1345 | 8.12Mb🇨🇦",
                "CA_1346 |19.19Mb🇨🇦",
                "CA_1347 | 7.49Mb🇨🇦",
                "CA_1348 | 6.29Mb🇨🇦",
                "CA_1349 |19.72Mb🇨🇦",
                "CA_1350 | 7.16Mb🇨🇦",
                "CA_1351 | 6.92Mb🇨🇦",
                "CA_1353 | 6.29Mb🇨🇦",
                "CA_1354 |10.01Mb🇨🇦",
                "CA_1355 |19.77Mb🇨🇦",
                "CA_1356 | 6.22Mb🇨🇦",
                "CA_1357 | 7.96Mb🇨🇦",
                "CA_1358 | 3.58Mb🇨🇦",
                "CA_1359 | 4.16Mb🇨🇦",
                "CA_1360 | 4.45Mb🇨🇦",
                "CA_1361 | 7.11Mb🇨🇦",
                "CA_1362 | 3.44Mb🇨🇦",
                "套餐到期：2024-06-18🇺🇸"
            ]
        },
        {
            "tag": "direct",
            "type": "direct"
        },
        {
            "tag": "block",
            "type": "block"
        },
        {
            "tag": "dns-out",
            "type": "dns"
        }
    ],
    "route": {
        "auto_detect_interface": false,
        "final": "select",
        "rule_set": [
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-geolocation-!cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-geolocation-!cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-cn",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-cn.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-google",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-google.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-apple",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-apple.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-telegram.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-twitter",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-twitter.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geoip-netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_ip_rule_set/geoip-netflix.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblock",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblock.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adblockplus",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adblockplus.srs"
            },
            {
                "download_detour": "direct",
                "format": "binary",
                "tag": "geosite-adguard",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/CHIZI-0618/v2ray-rules-dat/release/singbox_rule_set/geosite-adguard.srs"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Global",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Global.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "YouTube",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/YouTube.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "OpenAI",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/OpenAI.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "TikTok",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/TikTok.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Telegram",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Telegram.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Netflix",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Netflix.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "WeChat",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/WeChat.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "Bilibili",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/Bilibili.json"
            },
            {
                "download_detour": "direct",
                "format": "source",
                "tag": "GFW",
                "type": "remote",
                "url": "https://mirror.ghproxy.com/https://raw.githubusercontent.com/yangchuansheng/sing-box-geosite/main/rule/gfw.json"
            }
        ],
        "rules": [
            {
                "outbound": "dns-out",
                "protocol": "dns"
            },
            {
                "clash_mode": "direct",
                "outbound": "direct"
            },
            {
                "clash_mode": "global",
                "outbound": "select"
            },
            {
                "outbound": "direct",
                "rule_set": "geoip-cn"
            },
            {
                "outbound": "🍎 苹果",
                "rule_set": "geoip-apple"
            },
            {
                "domain_suffix": [
                    "copilot.microsoft.com",
                    "gemini.google.com",
                    "claude.ai",
                    "chatgpt.com",
                    "bing.com",
                    "oaistatic.com",
                    "oaiusercontent.com"
                ],
                "outbound": "🤖 AI",
                "rule_set": "OpenAI"
            },
            {
                "domain_suffix": [
                    "icloudnative.io",
                    "fuckcloudnative.io",
                    "sealos.io",
                    "cdn.jsdelivr.net"
                ],
                "outbound": "direct"
            },
            {
                "outbound": "block",
                "protocol": "quic"
            },
            {
                "inbound": "socks-in",
                "outbound": "select"
            },
            {
                "outbound": "block",
                "rule_set": [
                    "geosite-adblock",
                    "geosite-adblockplus",
                    "geosite-adguard"
                ]
            },
            {
                "outbound": "direct",
                "rule_set": [
                    "WeChat",
                    "Bilibili"
                ]
            },
            {
                "domain_suffix": [
                    "depay.one",
                    "orbstack.dev"
                ],
                "outbound": "select"
            },
            {
                "domain": "accounts.google.com",
                "domain_suffix": [
                    "sourceforge.net",
                    "fhjasokiwq.com"
                ],
                "outbound": "select"
            },
            {
                "domain_suffix": "cloud.sealos.io",
                "outbound": "direct"
            },
            {
                "mode": "and",
                "outbound": "select",
                "rules": [
                    {
                        "rule_set": "geosite-geolocation-!cn"
                    },
                    {
                        "invert": true,
                        "rule_set": "geoip-cn"
                    }
                ],
                "type": "logical"
            },
            {
                "outbound": "select",
                "rule_set": "Global"
            },
            {
                "ip_is_private": true,
                "outbound": "direct"
            },
            {
                "outbound": "select",
                "rule_set": [
                    "YouTube",
                    "Telegram",
                    "Netflix",
                    "GFW",
                    "geoip-google",
                    "geoip-telegram",
                    "geoip-twitter",
                    "geoip-netflix"
                ]
            }
        ]
    }
}
